.view-item-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info-card {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    & .date {
        min-width: 33%;
    }
}

.color-decorator {
    text-decoration-style: solid;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
}

.label-value {
    > h5 {
        color: var(--text-1);
        font-weight: bold;
    }
    > p,
    mat-icon {
        color: var(--text-2);
    }
}

.lvi {
    display: grid;
    grid-template-areas: "label label" "icon value";
    grid-template-columns: 1.4rem 95%;
    column-gap: 0.4rem;
    align-items: center;
    > p {
        grid-area: label;
    }
    > h5 {
        grid-area: value;
        width: max-content;
        text-align: left;
        width: auto;
    }
    > mat-icon {
        grid-area: icon;
        width: 1.4rem;
        font-size: 1.4rem;
        height: max-content;
    }
}

.main-info-container {
    display: grid;
    grid-template-areas:
        "color sector"
        "color title";
    grid-template-columns: 10px auto;
    grid-template-rows: repeat(2, auto);
    column-gap: 0.4rem;
    align-items: center;
    width: 100%;
    & .color {
        grid-area: color;
        width: 10px;
        height: 100%;
    }
    & .sector {
        grid-area: sector;
        margin: auto 0px;
    }
    & .title {
        grid-area: title;
        color: var(--text-1);
        margin: auto 0px;
    }
}

.description-container {
    grid-area: description-container;
    max-width: 100%;
}

.color {
    grid-area: color;
    width: 10px;
    height: 30px;
    &.credit-card {
        background-color: var(--error);
    }
    &.category {
        background-color: var(--info);
    }
    &.bank {
        background-color: var(--success);
    }
    &.company {
        background-color: var(--default);
    }
    &.bill {
        background-color: var(--warning);
    }
}

.limit {
    width: 100%;
}

.credit-card {
    margin-top: 1rem;
    display: grid;
    grid-template-areas:
        "day-invoice-container day-due-container month-year-container"
        "flag limit-container limit-left-container";
    grid-template-columns: 1fr 2fr 2fr;
    row-gap: 1rem;
    & .limit-container,
    .limit-left-container {
        & h5 {
            color: var(--text-2);
        }
        & h2 {
            color: var(--text-1);
            font-weight: bold;
        }
    }
    & .flag {
        & img {
            width: 50px;
            margin: 0px 0px auto;
            text-align: center;
        }
    }
}

.category-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    & h5 {
        color: var(--text-2);
    }
    & p {
        color: var(--text-1);
        font-weight: bold;
    }
    & mat-icon {
        color: var(--text-1);
        font-size: 1.8rem;
        width: auto;
        height: auto;
    }
}
