<modal-component
    size="md"
    [hideHeader]="true"
    [bodyTemplate]="viewItem"
></modal-component>

<ng-template #viewItem>
    <div class="view-item-main">
        <div class="main-info-container">
            <div
                [style.backgroundColor]="(data | sector : 'color')"
                [ngClass]="['color' ]"
                class="color"
            ></div>
            <p class="sector">{{ (data | sector) }}</p>
            <h1 class="title" [style.textDecorationColor]="data.color || 'transparent'">
                {{data.name}}
            </h1>
        </div>
        <div class="description-container label-value lvi">
            <mat-icon
                class="material-symbols-outlined"
                aria-hidden="false"
                aria-label="icon"
                fontIcon="clarify"
            ></mat-icon>
            <p>description</p>
            <h5>{{data.description}}</h5>
        </div>
        <div class="category-container" *ngIf="(data | sector) === 'category'">
            <p>icon</p>
            <h5>{{data.icon}}</h5>
            <mat-icon
                class="selection-icon"
                aria-hidden="false"
                aria-label="icon"
                [fontIcon]="data.icon"
            ></mat-icon>
        </div>
        <ng-container *ngIf="(data | sector) === 'credit card'">
            <template-view-credit-card
                [creditCard]="data"
                [theme]="(generalState.theme$ | async)!"
            />
        </ng-container>
        <ng-container *ngIf="(data | sector) === 'bank'">
            <template-view-bank [bank]="data" />
        </ng-container>
        <ng-container *ngIf="(data | sector) === 'bill'">
            <template-view-bill [bill]="data" />
        </ng-container>
        <card-component [hideHeader]="true">
            <div class="info-card">
                <div class="date label-value lvi">
                    <p>last time updated</p>
                    <mat-icon
                        class="material-symbols-outlined"
                        aria-hidden="false"
                        aria-label="icon"
                        fontIcon="calendar_clock"
                    ></mat-icon>
                    <h5>
                        {{(data.updatedAt | date: "mediumDate") + ', ' + ((data.updatedAt)
                        | date: "shortTime")}}
                    </h5>
                </div>
                <div *ngIf="data.due" class="date label-value lvi">
                    <p>due date</p>
                    <mat-icon
                        class="material-symbols-outlined"
                        aria-hidden="false"
                        aria-label="icon"
                        fontIcon="calendar_clock"
                    ></mat-icon>
                    <h5>{{(data.due | date: "mediumDate")}}</h5>
                </div>
                <div *ngIf="data.paid" class="label-value lvi">
                    <p>payment date</p>
                    <mat-icon
                        class="material-symbols-outlined"
                        aria-hidden="false"
                        aria-label="icon"
                        fontIcon="calendar_clock"
                    ></mat-icon>
                    <h5>{{(data.paid | date: "mediumDate") }}</h5>
                </div>
            </div>
        </card-component>
    </div>
</ng-template>
