<modal-component
    size="md"
    [hideHeader]="true"
    [bodyTemplate]="viewItem"
></modal-component>

<ng-template #viewItem>
    <div class="view-item-main">
        <div class="main-info-container">
            <div
                [style.backgroundColor]="(data.item | sector : 'color')"
                [ngClass]="['color' ]"
                class="color"
            ></div>
            <p class="sector">{{ (data.item | sector) }}</p>
            <h1
                class="title"
                [style.textDecorationColor]="data.item.color || 'transparent'"
            >
                {{data.item.name}}
            </h1>
        </div>
        <div class="description-container label-value lvi">
            <mat-icon
                class="material-symbols-outlined"
                aria-hidden="false"
                aria-label="icon"
                fontIcon="clarify"
            ></mat-icon>
            <p>description</p>
            <h5>{{data.item.description}}</h5>
        </div>
        <div class="category-container" *ngIf="data.item.sector === 'category'">
            <h5>icon</h5>
            <p>{{data.item.name}}</p>
            <mat-icon
                class="selection-icon"
                aria-hidden="false"
                aria-label="icon"
                [fontIcon]="data.item.icon"
            ></mat-icon>
        </div>
        <ng-container *ngIf="data.item.sector === 'credit-card'">
            <template-view-credit-card
                [creditCard]="data.item"
                [theme]="(generalState.theme$ | async)!"
            />
        </ng-container>
        <ng-container *ngIf="data.item.sector === 'bank'">
            <template-view-bank [bank]="data.item" />
        </ng-container>
        <ng-container *ngIf="data.item.sector === 'bill'">
            <template-view-bill [bill]="data.item" />
        </ng-container>
        <card-component [hideHeader]="true">
            <div class="info-card">
                <div class="date label-value lvi">
                    <p>last time updated</p>
                    <mat-icon
                        class="material-symbols-outlined"
                        aria-hidden="false"
                        aria-label="icon"
                        fontIcon="calendar_clock"
                    ></mat-icon>
                    <h5>
                        {{(data.item.updatedAt | date: "mediumDate") + ', ' +
                        ((data.item.updatedAt) | date: "shortTime")}}
                    </h5>
                </div>
                <div *ngIf="data.item.due" class="date label-value lvi">
                    <p>due date</p>
                    <mat-icon
                        class="material-symbols-outlined"
                        aria-hidden="false"
                        aria-label="icon"
                        fontIcon="calendar_clock"
                    ></mat-icon>
                    <h5>{{(data.item.due | date: "mediumDate")}}</h5>
                </div>
                <div *ngIf="data.item.paid" class="label-value lvi">
                    <p>payment date</p>
                    <mat-icon
                        class="material-symbols-outlined"
                        aria-hidden="false"
                        aria-label="icon"
                        fontIcon="calendar_clock"
                    ></mat-icon>
                    <h5>{{(data.item.paid | date: "mediumDate") }}</h5>
                </div>
            </div>
        </card-component>
    </div>
</ng-template>
