<div class="bank">
    <div class="page-header">
        <h1 class="page-title">banks</h1>
        <button (click)="onCreate()" class="button-primary extended" mat-button>
            <div>
                <mat-icon class="material-symbols-outlined">add</mat-icon>
                <mat-icon class="material-symbols-outlined">account_balance</mat-icon>
            </div>
            <p>new bank</p>
        </button>
    </div>
    <feedback-container
        *ngIf="(bankState.banks$ | async)?.length === 0"
        [info]="(bankState.status$ | async)!"
    ></feedback-container>
    <div class="bank-infos"></div>
    <div class="bank-grid grid">
        <li class="bank-li" *ngFor="let bank of (bankState.banks$ | async)">
            <div
                [ngClass]="['bank-container', 'grid-item', bank.isPiggyBank ? 'piggybank' : '', generalState.theme$ | async]"
                (click)="openDetails(bank, $event)"
            >
                <div class="bank-color" [style.backgroundColor]="bank.color"></div>
                <h2 class="bank-title">
                    {{bank.name}}
                    <mat-icon
                        *ngIf="bank.isPiggyBank"
                        class="material-symbols-outlined piggy"
                        aria-hidden="false"
                        aria-label="icon"
                        fontIcon="savings"
                    ></mat-icon>
                </h2>
                <p class="bank-description">{{bank.description}}</p>
                <div class="bank-savings">
                    <p class="secondary-text">savings</p>
                    <h3>{{bank.savings| currency: "R$ "}}</h3>
                </div>
                <actions
                    [transparent]="false"
                    class="bank-buttons"
                    [data]="bank"
                    [actions]="actions"
                ></actions>
            </div>
        </li>
    </div>
</div>
