<div class="bank">
    <div class="page-header">
        <h1 class="page-title">banks</h1>
        <div class="buttons">
            <btn [extended]="true" (onClick)="onCreateMultipleSavings()">
                <div>
                    <mat-icon class="material-symbols-outlined">add</mat-icon>
                    <mat-icon class="material-symbols-outlined">account_balance</mat-icon>
                </div>
                <p>create month savings</p>
            </btn>
            <btn [extended]="true" (onClick)="onCreateBank()">
                <div>
                    <mat-icon class="material-symbols-outlined">add</mat-icon>
                    <mat-icon class="material-symbols-outlined">account_balance</mat-icon>
                </div>
                <p>new bank</p>
            </btn>
            <btn [extended]="true" (onClick)="onCreateSaving()">
                <div>
                    <mat-icon class="material-symbols-outlined">add</mat-icon>
                    <mat-icon class="material-symbols-outlined">savings </mat-icon>
                </div>
                <p>new saving</p>
            </btn>
        </div>
    </div>
    <feedback-container
        *ngIf="(bankState.banks$ | async)?.length === 0"
        [info]="(bankState.status$ | async)!"
    ></feedback-container>
    <div class="bank-infos"></div>
    <div class="bank-grid grid">
        <li class="bank-li" *ngFor="let bank of (bankState.banks$ | async)">
            <div
                [ngClass]="['bank-container', 'grid-item', bank.isPiggyBank ? 'piggybank' : '', generalState.theme$ | async]"
                (click)="openDetails(bank, $event)"
            >
                <div class="bank-color" [style.backgroundColor]="bank.color"></div>
                <div class="bank-title">
                    <h2>{{bank.name}}</h2>
                    <div class="tag piggy-bank" *ngIf="bank.isPiggyBank">
                        <mat-icon
                            class="material-symbols-outlined piggy"
                            aria-hidden="false"
                            aria-label="icon"
                            fontIcon="savings"
                        ></mat-icon>
                    </div>
                </div>
                <p class="bank-description">{{bank.description}}</p>
                <div class="bank-savings">
                    <p class="secondary-text">savings</p>
                    <h3>{{bank.savings| currency: "R$ "}}</h3>
                </div>
                <actions
                    [transparent]="false"
                    class="bank-buttons"
                    [data]="bank"
                    [actions]="actions"
                ></actions>
            </div>
        </li>
    </div>
</div>
