.bank {
    width: 90%;
}

.bank-li {
    list-style: none;
}

.bank-infos {
    width: 100%;
}

.bank-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 30px;
}

.bank-container {
    display: grid;
    grid-template-areas:
        "bank-color bank-title bank-title bank-buttons"
        "bank-description bank-description bank-description bank-description"
        "bank-savings bank-savings bank-savings bank-savings";
    grid-template-columns: 5% 40% 30% 25%;
    grid-template-rows: repeat(3, auto);
    width: 100%;
    min-height: 150px;
    padding: var(--padding-gen) 1rem;
    border-radius: var(--border-radius);
    background-color: var(--bh);
    border: solid var(--border-width) var(--bh);
    cursor: pointer;
    @media screen and (max-width: 900px) {
        grid-template-areas:
            "bank-color bank-title"
            "bank-description bank-description"
            "bank-savings bank-savings"
            "bank-buttons bank-buttons";
        grid-template-columns: 5% 95%;
        grid-template-rows: repeat(4, auto);
    }
    &.binary {
        border: solid var(--border-width) var(--secondary);
    }
}

.bank-title {
    grid-area: bank-title;
    font-weight: bold;
    width: 50%;
    margin: auto 0px 0px 1rem;

    @media screen and (max-width: 1366px) {
        margin: auto 10px auto 0px;
    }
}

.bank-description {
    grid-area: bank-description;
    font-weight: normal;
    font-size: 14px;
    color: var(--text-2);
    margin: auto 0px;
    width: 50%;
}

.bank-color {
    grid-area: bank-color;
    width: 10px;
    height: 100%;
    margin: auto auto 0px;
}

.bank-savings {
    grid-area: bank-savings;
    font-weight: bold;
    font-size: 30px;
    gap: 0.5rem;
    @media screen and (max-width: 1366px) {
        margin: auto 10px auto 0px;
    }
}

.bank-buttons {
    grid-area: bank-buttons;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.secondary-text {
    font-size: 14px;
}
