<div class="header">
    <mat-form-field [ngClass]="['header-search', actualPage]" appearance="outline">
        <mat-icon
            matPrefix
            class="header-notifications"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="search"
        ></mat-icon>
        <input
            class="header-input"
            placeholder="search in the application"
            (input)="onType($event)"
            [value]="search$ | async"
            maxlength="100"
            required
            matInput
            [matAutocomplete]="auto"
        />
        <mat-autocomplete [displayWith]="getOptionName" #auto="matAutocomplete">
            @for (option of filteredOptions; track option) {
            <mat-option
                class="header-option"
                (onSelectionChange)="onSelect(option)"
                [value]="option"
            >
                <div [ngClass]="['indicator', option.sector]"></div>
                <p class="name">{{ option["name"] }}</p>
                <p class="description">{{ option["description"] }}</p>
            </mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>
    <button
        class="header-notifications"
        mat-icon-button
        aria-label="action company button"
    >
        <mat-icon
            class="material-symbols-outlined"
            class="icon"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="notifications"
        ></mat-icon>
    </button>
</div>
