<div class="bill-tags">
    <div
        [matTooltip]="data.isPayment ? 'outcome' : 'income'"
        [ngClass]="['tag', 'flow-container', data.isPayment ? 'outcome' : 'income']"
    >
        <mat-icon
            class="material-symbols-outlined type-icon"
            aria-hidden="false"
            aria-label="icon"
            [fontIcon]="data.isPayment ? 'arrow_circle_up' : 'arrow_circle_down'"
        ></mat-icon>
    </div>
    <div
        matTooltip="credit card"
        [ngClass]="['type-container', 'tag', 'credit-card', isLineTheme]"
    >
        <mat-icon
            class="material-symbols-outlined type-icon"
            aria-hidden="false"
            aria-label="icon"
            fontIcon="credit_card"
        ></mat-icon>
        <p class="type-name">{{data.creditCard?.name}}</p>
    </div>
    <div
        matTooltip="category"
        [ngClass]="['category-container','tag','credit-card', isLineTheme]"
    >
        <mat-icon
            class="material-icons-outlined category-icon"
            aria-hidden="false"
            aria-label="icon"
            [fontIcon]="data.category.icon"
        ></mat-icon>
        <p class="category-name">{{data.category.name}}</p>
    </div>
</div>
