<div class="bill-container-cc">
    <div [ngClass]="['card-container', isLineTheme]">
        <mat-icon
            class="material-symbols-outlined card-icon"
            aria-hidden="false"
            aria-label="icon"
            fontIcon="credit_card"
        ></mat-icon>
        <p class="card-name">{{data.creditCard?.name}}</p>
    </div>
    <div [ngClass]="['card-category', isLineTheme]">
        <mat-icon
            class="material-symbols-outlined card-icon"
            aria-hidden="false"
            aria-label="icon"
            [fontIcon]="data.category.icon"
        ></mat-icon>
        <p class="card-name">{{data.category.name}}</p>
    </div>
    <p class="title">{{ data.name }}</p>
    <p class="description">{{ data.description }}</p>
    <div [ngClass]="['date-container', dateLeft, isLineTheme]">
        <mat-icon
            class="material-symbols-outlined card-icon"
            aria-hidden="false"
            aria-label="icon"
            fontIcon="event"
        ></mat-icon>
        <p>{{(data.settled ? data.paid : data.due) | date: "mediumDate"}}</p>
    </div>
    <div class="value-container">
        <div class="parcel"><p>{{data.parcel + 1}}</p></div>
        <p class="value">{{data.totalParcel | currency: "R$ "}}</p>
    </div>
</div>
