.button-primary {
    background-color: var(--primary) !important;
    color: var(--text-2);
    border: solid var(--border-width) var(--border-color) !important;
    font-weight: bold !important;
    font-family: var(--font-1) !important;
    &.mat-mdc-button:not(:disabled) {
        border-radius: var(--border-radius) !important;
        background-color: var(--primary) !important;
        border: solid var(--border-width) var(--border-color) !important;
    }

    & p,
    span {
        color: var(--text-2);
        font-weight: bold !important;
        font-family: var(--font-1) !important;
    }

    &:disabled {
        color: var(--text-1);
        background-color: var(--disabled) !important;
        border: solid var(--border-width) var(--disabled) !important;
        border-radius: var(--border-radius) !important;
        cursor: not-allowed;
        & mat-icon {
            color: var(--text-1);
        }
    }

    & .spinner {
        width: 1.5rem !important;
        height: fit-content !important;
    }
    & mat-icon {
        color: var(--text-2);
        margin: 0px !important;
    }
}

.button-secondary {
    background-color: var(--secondary);
    border: solid var(--border-width) var(--secondary) !important;
    color: var(--text-1);
    font-weight: bold !important;
    font-family: var(--font-1) !important;
    &.mat-mdc-button:not(:disabled) {
        border-radius: var(--border-radius);
        background-color: transparent;
    }

    & p,
    span {
        color: var(--text-1);
        font-weight: bold !important;
        font-family: var(--font-1) !important;
    }
    & mat-icon {
        margin: 0px !important;
    }
}

.button-outlined {
    background-color: transparent;
    color: var(--text-1);
    border: solid var(--border-width) var(--border-color);
    font-weight: bold !important;
    font-family: var(--font-1) !important;
    cursor: pointer;
    &.mat-mdc-button:not(:disabled) {
        border-radius: var(--border-radius);
        background-color: transparent;
        color: var(--text-1);
        border: solid var(--border-width) var(--border-color);
    }

    & p,
    span {
        color: var(--text-1);
        font-weight: bold !important;
        font-family: var(--font-1) !important;
    }

    &:disabled {
        color: var(--text-1);
        background-color: var(--disabled) !important;
        border-radius: var(--border-radius) !important;
    }

    & .spinner {
        width: 1.5rem !important;
        height: fit-content;
    }
    & mat-icon {
        color: var(--text-2);
        margin: 0px !important;
    }
}

.button-text {
    background-color: transparent;
    color: var(--text-1);
    border: none;
    font-weight: bold !important;
    font-family: var(--font-1) !important;

    &.mat-mdc-button:not(:disabled) {
        border-radius: var(--border-radius);
        background-color: transparent;
        color: var(--text-1);
        border: none;
    }

    & p,
    span {
        color: var(--text-1);
        font-weight: bold !important;
        font-family: var(--font-1) !important;
    }

    &:disabled {
        color: var(--text-1);
        background-color: var(--disabled) !important;
        border-radius: var(--border-radius) !important;
    }

    & .spinner {
        width: 1.5rem !important;
        height: fit-content;
    }
    & mat-icon {
        color: var(--text-2);
        margin: 0px !important;
    }
    &.selected {
        text-decoration: underline var(--text-1);
        text-decoration-thickness: 0.3rem;
    }
}

.button-primary,
.button-secondary,
.button-outlined,
.button-text {
    display: flex;
    align-items: center;
    width: max-content;
    border-radius: var(--border-radius) !important;
    height: max-content !important;
    padding: 0.5rem 0.8rem !important;
    cursor: pointer;
    &.extended {
        & div {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 0.2rem;
        }
        & p {
            text-align: left;
        }
    }
}

.mat-mdc-icon-button.mat-mdc-button-base {
    padding: 6px !important;
    --mdc-icon-button-state-layer-size: 32px !important;
    & .mat-mdc-button-touch-target {
        width: 32px !important;
        height: 32px !important;
    }
}
