.item-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 60px;
    padding: 10px 50px;
    border-radius: var(--border-radius);
    background-color: var(--primary);
    border: solid 1px var(--border-color);
}

.item-list:hover .icons-buttons {
    display: flex;
    right: 80px;
}

.icons-buttons {
    display: none;
}

.tag {
    display: flex;
    flex-direction: row;
    width: max-content;
    align-items: center;
    justify-content: center;
    height: max-content;
    text-align: center;
    padding: 0.4rem;
    border-style: solid;
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    &.no-border {
        border-style: none;
    }
}

.grid {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
}

.grid-item {
    width: 100%;
    padding: var(--padding-gen);
    border-radius: var(--border-radius);
    background-color: var(--bh);
    border: solid var(--border-width) var(--bh);
    cursor: pointer;
}
