.item-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 60px;
    padding: 10px 50px;
    border-radius: var(--border-radius);
    background-color: var(--primary);
    border: solid 1px var(--border-color);
}

.item-list:hover .icons-buttons {
    display: flex;
    right: 80px;
}

.icons-buttons {
    display: none;
}

.tag {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    height: max-content;
    text-align: center;
    padding: 0.25rem 0.5rem;
    border-style: solid;
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    &.no-border {
        border-style: none;
    }
}
