.item-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 60px;
    padding: 10px 50px;
    border-radius: 5px;
    background-color: var(--item-list);
    border: solid 1px var(--item-list-border);
}

.item-list:hover .icons-buttons {
    display: flex;
    right: 80px;
}

.icons-buttons {
    display: none;
}
