<div class="credit-card">
    <div class="day-invoice-container label-value lvi">
        <mat-icon
            class="material-symbols-outlined"
            aria-hidden="false"
            aria-label="icon"
            fontIcon="calendar_check"
        ></mat-icon>
        <p>best day</p>
        <h5>{{creditCard.day}}</h5>
    </div>
    <div class="day-due-container label-value lvi">
        <mat-icon
            class="material-symbols-outlined"
            aria-hidden="false"
            aria-label="icon"
            fontIcon="calendar_clock"
        ></mat-icon>
        <p>due day</p>
        <h5>{{creditCard.due}}</h5>
    </div>
    <div class="month-year-container label-value lvi">
        <mat-icon
            class="material-symbols-outlined"
            aria-hidden="false"
            aria-label="icon"
            fontIcon="calendar_month"
        ></mat-icon>
        <p>month/year related</p>
        <h5>{{months[creditCard.month].short + '/' + creditCard.year}}</h5>
    </div>
    <div [matTooltip]="creditCard.flag || ''" class="flag lvi">
        <mat-icon
            class="material-symbols-outlined"
            aria-hidden="false"
            aria-label="icon"
            fontIcon="flag"
        ></mat-icon>
        <p>flag</p>
        <img
            class="flag-icon"
            *ngIf="creditCard.flag && creditCard.flag !== 'other'"
            [src]="'assets/images/'+creditCard.flag+'.svg'"
        />
    </div>
    <div class="invoice">
        <h5>invoice</h5>
        <div class="row">
            <h1>{{creditCard.invoice | currency: "R$ "}}</h1>
            <div
                *ngIf="(creditCard | creditCard : 'status') !== 'current'"
                class="status"
                [style.backgroundColor]="(creditCard | creditCard : 'status') === 'paid' ? successColor : errorColor"
            >
                {{creditCard | creditCard : 'status'}}
            </div>
        </div>
    </div>

    <div class="limit-container">
        <h5>limit</h5>
        <div class="numbers">
            <h2>{{creditCard.limitLeft | currency: "R$ "}}/</h2>
            <h5 class="limit">{{creditCard.limit | currency: "R$ "}}</h5>
        </div>
    </div>
    <div class="progress-container">
        <div
            class="bar"
            [style.width]="(creditCard.limitLeft / creditCard.limit) * 100 + '%'"
            [style.backgroundColor]="theme === 'binary' ? secondaryColor : primaryColor"
        ></div>
    </div>
</div>
