<div class="template-companies-container">
    <div class="template-data-input">
        <mat-form-field
            *ngIf="(companies.company$| async)!.length > 0"
            class="number-input"
            appearance="outline"
        >
            <mat-label>company</mat-label>
            <mat-select
                [value]="companyIdControl.value"
                [formControl]="companyIdControl"
                ngDefaultControl
            >
                <mat-option *ngFor="let c of (companies.company$ | async)" [value]="c.id">
                    {{ c.name }}
                </mat-option>
            </mat-select>
            @if (companyIdControl.invalid) {
            <mat-error>{{errorMessage.company}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field
            *ngIf="(banks.banks$| async)!.length > 0"
            class="number-input"
            appearance="outline"
        >
            <mat-label>bank</mat-label>
            <mat-select
                (selectionChange)="toggleError('bank')"
                [value]="bank1IdControl.value"
                [formControl]="bank1IdControl"
                ngDefaultControl
            >
                <mat-option [value]="null">none</mat-option>
                @for (b of (banks.banks$ | async); track b.id) {
                <mat-option [value]="b.id">{{ b.name }}</mat-option>
                }
            </mat-select>
            @if (bank1IdControl.invalid) {
            <mat-error>{{errorMessage.noBank}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field
            *ngIf="(ccs.creditCards$ | async)!.length > 0"
            class="number-input"
            appearance="outline"
        >
            <mat-label>credit card</mat-label>
            <mat-select
                (selectionChange)="toggleError('cc')"
                [value]="creditCardIdControl.value"
                [formControl]="creditCardIdControl"
                ngDefaultControl
            >
                <mat-option [value]="null">none</mat-option>
                @for (cc of (ccs.creditCards$ | async); track cc.id) {
                <mat-option [value]="cc.id">{{ cc.name }}</mat-option>
                }
            </mat-select>
            @if (creditCardIdControl.invalid) {
            <mat-error>{{errorMessage.noCC}}</mat-error>
            }
        </mat-form-field>
    </div>
    <div class="template-data-input">
        <mat-form-field class="number-input" appearance="outline">
            <mat-label>parcels</mat-label>
            <input
                matInput
                type="number"
                [value]="parcelsControl.value"
                [formControl]="parcelsControl"
                ngDefaultControl
            />
            @if (parcelsControl.invalid) {
            <mat-error>{{errorMessage.parcels}}</mat-error>
            }
        </mat-form-field>
        <ng-container *ngIf="bill.parcels - 1 === bill.parcel">
            <mat-form-field class="number-input" appearance="outline">
                <mat-label>delta</mat-label>
                <input
                    matInput
                    type="number"
                    [value]="deltaControl.value"
                    [formControl]="deltaControl"
                    ngDefaultControl
                /> </mat-form-field
        ></ng-container>
        <mat-form-field class="number-input" appearance="outline">
            <mat-label>taxes</mat-label>
            <input
                matInput
                type="number"
                [value]="taxesControl.value"
                [formControl]="taxesControl"
                ngDefaultControl
            />
        </mat-form-field>
    </div>
</div>
