<div class="margin-right">
    <div
        class="button-secondary pad"
        [matTooltip]="'page '+(billsState.billsPagination$ | async)?.page"
        matTooltipPosition="above"
    >
        <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="description"
            class="material-symbols-outlined"
        ></mat-icon>
        <h5>{{(billsState.billsPagination$ | async)?.page}}</h5>
    </div>
    <button
        aria-label="next page"
        [disabled]="page === 1"
        (click)="onFirstPage()"
        [ngClass]="['button-primary', 'pad']"
        mat-button
    >
        <mat-icon
            class="material-symbols-outlined icon-page"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="keyboard_double_arrow_left"
        ></mat-icon>
    </button>
    <button
        aria-label="previous page"
        [disabled]="page === 1"
        (click)="onPreviousPage()"
        [ngClass]="['button-primary', 'pad']"
        mat-button
    >
        <mat-icon
            class="icon-page"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="arrow_back"
        ></mat-icon>
    </button>
    <button
        [matTooltip]="'number of items: '+(billsState.billsPagination$ | async)?.limit"
        matTooltipPosition="above"
        aria-label="toggle number of items per page"
        (click)="setLimitList()"
        [ngClass]="['button-primary', 'pad']"
        mat-button
        [disabled]="(billsState.bills$ | async)?.length === 0"
    >
        <mat-icon
            class="icon-page material-symbols-outlined"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="reorder"
        ></mat-icon>
        {{(billsState.billsPagination$ | async)?.limit}}
    </button>
    <!-- <div class="input-page-container pad"></div> -->
    <button
        aria-label="next page"
        [disabled]="disableNext()"
        (click)="onNextPage()"
        [ngClass]="['button-primary', 'pad', 'next-page']"
        mat-button
    >
        <mat-icon
            class="icon-page"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="arrow_forward"
        ></mat-icon>
    </button>
    <button
        aria-label="next page"
        [disabled]="disableNext()"
        (click)="onLastPage()"
        [ngClass]="['button-primary', 'pad']"
        mat-button
    >
        <mat-icon
            class="material-symbols-outlined icon-page"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="keyboard_double_arrow_right"
        ></mat-icon>
    </button>
</div>
