<div class="main">
    <btn
        matTooltipPosition="above"
        [matTooltip]="'page '+(billsState.billsPagination$ | async)?.page"
        variant="secondary"
    >
        <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="description"
            class="material-symbols-outlined"
        ></mat-icon>
        <h5>{{(billsState.billsPagination$ | async)?.page}}</h5>
    </btn>
    <btn
        matTooltipPosition="above"
        aria-label="first page"
        matTooltip="first page"
        variant="primary"
        (onClick)="onFirstPage()"
        [disabled]="page === 1"
    >
        <mat-icon
            class="material-symbols-outlined icon-page"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="first_page"
        ></mat-icon
    ></btn>
    <btn
        matTooltipPosition="above"
        aria-label="previous page"
        matTooltip="previous page"
        variant="primary"
        [disabled]="page === 1"
        (onClick)="onPreviousPage()"
        ><mat-icon
            class="icon-page"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="arrow_back"
        ></mat-icon
    ></btn>
    <btn
        variant="primary"
        [disabled]="(billsState.bills$ | async)?.length === 0"
        (onClick)="setLimitList()"
        aria-label="toggle number of items per page"
        [matTooltip]="'items per page: '+(billsState.billsPagination$ | async)?.limit"
        matTooltipPosition="above"
    >
        <mat-icon
            class="icon-page material-symbols-outlined"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="reorder"
        ></mat-icon>
        <h5>{{(billsState.billsPagination$ | async)?.limit}}</h5>
    </btn>
    <!-- <div class="input-page-container pad"></div> -->
    <btn
        matTooltipPosition="above"
        aria-label="next page"
        matTooltip="next page"
        variant="primary"
        [disabled]="disableNext()"
        (onClick)="onNextPage()"
    >
        <mat-icon
            class="icon-page"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="arrow_forward"
        ></mat-icon>
    </btn>
    <btn
        aria-label="last page"
        matTooltipPosition="above"
        matTooltip="last page"
        [disabled]="disableNext()"
        (onClick)="onLastPage()"
        variant="primary"
    >
        <mat-icon
            class="material-symbols-outlined icon-page"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="last_page"
        ></mat-icon>
    </btn>
</div>
