.card {
    border-style: solid;
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    padding: 10px 15px;
    margin-bottom: 20px;
    position: relative;
    z-index: 3;
    height: 100%;
    width: 100%;
}

.card-shadow {
    border-radius: 10px;
    border-style: solid;
    border-width: 4px;
    left: 10px;
    position: relative;
    z-index: 1;
}

.card-content {
    padding: 5px 0px;
}

.card-divisor {
    width: 100%;
    height: var(--border-width);
    background-color: var(--secondary);
    margin: 10px 0px;
}

.card-header {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-areas: "card-data card-actions";
    grid-template-columns: 5fr 1fr;
    & .card-data {
        & h2 {
            font: normal 1.5rem Open-Sans-Extra-Bold;
            width: fit-content;
        }
    }
    & .card-actions {
        margin: auto 0px auto auto;
        & .icon-button {
            width: max-content;
            & .icon {
                margin: auto;
                width: max-content;
            }
        }
    }
}

.card-multiple-icons {
    display: flex;
    flex-direction: row;
    width: max-content;
}
