<div
    id="card-{{ id }}"
    class="card"
    [style.backgroundColor]="
        actualTheme === 'binary' ? '#000000' : backgroundColor || backgroundHighlighter
    "
    [style.borderColor]="
        border || actualTheme === 'binary'
            ? secondary
            : backgroundColor || backgroundHighlighter
    "
>
    <div
        class="card-header"
        *ngIf="!hideHeader"
        [style.height]="noDivisor ? '70px' : '50px'"
    >
        <div class="card-data">
            <h6 *ngIf="title">
                {{ title }}
            </h6>
            <p *ngIf="description">{{ description }}</p>
        </div>
        <div class="card-actions" *ngIf="actions">
            <button
                *ngFor="let a of actions"
                (click)="a.action()"
                [matTooltip]="a.tooltip"
                matTooltipPosition="above"
                class="icon-button"
                mat-icon-button
                aria-label="action page button"
            >
                @if (isString(a.icon)) {
                <mat-icon
                    class="material-symbols-outlined icon"
                    [fontIcon]="a.icon"
                ></mat-icon>
                } @if(!isString(a.icon)) {
                <div class="card-multiple-icons">
                    <mat-icon
                        *ngFor="let icon of a.icon"
                        class="material-symbols-outlined icon"
                        [fontIcon]="icon"
                    ></mat-icon>
                </div>
                }
            </button>
        </div>
    </div>
    <div class="card-divisor" *ngIf="!noDivisor && !hideHeader"></div>
    <div class="card-content" [style.height]="hideHeader ? '100%' : 'calc(100% - 70px)'">
        <ng-content></ng-content>
    </div>
</div>
<div
    *ngIf="options?.shadow"
    class="card-shadow"
    [style.height]="cardHeight + 'px'"
    [style.width]="cardWidth + 'px'"
    [style.bottom]="cardHeight - 10 + 'px'"
    [style.backgroundColor]="
        border
            ? 'transparent'
            : (backgroundColor || backgroundHighlighter | color : 'darker')
    "
    [style.borderColor]="backgroundColor || backgroundHighlighter | color : 'darker'"
></div>
