.template-credit-card-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 56px;
    margin-bottom: 25px;
}

.number-input {
    width: 31%;
}

.template-credit-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: max-content;
}

.template-data-field {
    width: 48%;
    margin-bottom: 10px;
    padding: 0px;
}

.disclaimer {
    font: normal 16px Roboto;
    margin: auto 10px;
    position: relative;
    color: var(--warning);
}

.refund-container {
    display: flex;
}
