<div class="tab-container">
    <feedback-container
        *ngIf="(compState.company$| async)?.length === 0"
        [info]="(compState.status$ | async)!"
    ></feedback-container>
    <li
        *ngFor="let company of (compState.company$| async); index as i; trackBy: trackCompany"
    >
        <div class="item-list">
            <div class="company-item-text">
                <p class="title">{{company.name}}</p>
                <p class="description">{{company.description}}</p>
            </div>

            <div class="button-container">
                <button
                    matTooltip="edit"
                    matTooltipPosition="above"
                    class="icon-button"
                    mat-icon-button
                    aria-label="edit company button"
                >
                    <mat-icon
                        class="icon-edit"
                        aria-hidden="false"
                        aria-label="pen icon"
                        fontIcon="edit"
                    ></mat-icon>
                </button>
                <button
                    matTooltip="delete"
                    matTooltipPosition="above"
                    [ngClass]="['icon-button', 'left']"
                    mat-icon-button
                    aria-label="delete company button"
                >
                    <mat-icon
                        class="icon-edit"
                        aria-hidden="false"
                        aria-label="trash bin icon"
                        fontIcon="delete"
                    ></mat-icon>
                </button>
            </div>
            <div class="color-container" [style.borderRightColor]="company.color"></div>
        </div>
    </li>
</div>
