<div class="tab-container">
    <feedback-container
        *ngIf="(compState.company$| async)?.length === 0"
        [info]="(compState.status$ | async)!"
    ></feedback-container>
    <li
        *ngFor="let company of (compState.company$| async); index as i; trackBy: trackCompany"
    >
        <div class="item-list">
            <div class="company-item-text">
                <p class="title">{{company.name}}</p>
                <p class="description">{{company.description}}</p>
            </div>
            <actions class="icons-buttons" [actions]="actions"></actions>
            <div class="color-container" [style.backgroundColor]="company.color"></div>
        </div>
    </li>
</div>
