<modal-component
    [disabled]="creditCardForm.invalid"
    (actionPrimary)="onSubmit()"
    [bodyTemplate]="newCreditCard"
></modal-component>

<ng-template #newCreditCard>
    <form [formGroup]="creditCardForm">
        <div class="new-credit-card-container">
            <mat-form-field class="new-credit-card-field" appearance="outline">
                <mat-label>name</mat-label>
                <input maxlength="100" required matInput formControlName="name" />
                @if (creditCardForm.controls.name.errors?.["required"]) {
                <mat-error>{{errorMessage.name}}</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="new-credit-card-field" appearance="outline">
                <mat-label>description</mat-label>
                <input maxlength="100" matInput formControlName="description" />
                @if (creditCardForm.controls.description.errors?.["required"]) {
                <mat-error>{{errorMessage.description}}</mat-error>
                }
            </mat-form-field>

            <div class="savings-color">
                <mat-form-field class="color-picker" appearance="outline">
                    <mat-label>color</mat-label>
                    <input matInput type="color" formControlName="color" />
                </mat-form-field>

                <mat-form-field class="savings-input" appearance="outline">
                    <mat-label>limit</mat-label>
                    <input matInput type="number" formControlName="limit" />
                    @if (creditCardForm.controls.limit.errors?.["required"]) {
                    <mat-error>{{errorMessage.savings}}</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="savings-color">
                <mat-form-field class="color-picker" appearance="outline">
                    <mat-label>day of closing invoice</mat-label>
                    <input matInput type="number" formControlName="day" />
                    @if (creditCardForm.controls.day.errors) {
                    <mat-error>{{errorMessage.day}}</mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="color-picker" appearance="outline">
                    <mat-label>month</mat-label>
                    <mat-select formControlName="month">
                        @for (m of this.months; track m) {
                        <mat-option [value]="m">{{m.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="color-picker" appearance="outline">
                    <mat-label>year</mat-label>
                    <input matInput type="number" formControlName="year" />
                    @if (creditCardForm.controls.year.errors?.["min"]) {
                    <mat-error>{{errorMessage.year}}</mat-error>
                    }
                </mat-form-field>
            </div>
        </div>
    </form>
</ng-template>
