<mat-toolbar class="toolbar" color="secondary">
    <mat-toolbar-row class="toolbar-row">
        <div
            [ngClass]="{
                'app-container': true,
                'selected-container': page === '/'
            }"
            (click)="onChangeRoute('/')"
        >
            <span class="app-title">home finances</span>
        </div>
        <div class="routes-container" *ngIf="userState.user$ | async">
            <div
                [ngClass]="{
                    'app-container': true,
                    'selected-container': page === '/manager'
                }"
                (click)="onChangeRoute('/manager')"
            >
                <mat-icon
                    [ngClass]="{ 'app-icon': true, 'icon-route': page !== '/manager' }"
                    [matTooltip]="page !== '/manager' ? 'manager' : ''"
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="edit_square"
                ></mat-icon>
                <span *ngIf="page === '/manager'" class="app-title">manager</span>
            </div>
            <div
                [ngClass]="{
                    'app-container': true,
                    'selected-container': page === '/monthly'
                }"
                (click)="onChangeRoute('/monthly')"
            >
                <mat-icon
                    [ngClass]="{ 'app-icon': true, 'icon-route': page !== '/monthly' }"
                    [matTooltip]="page !== '/monthly' ? 'monthly' : ''"
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="calendar_month"
                ></mat-icon>
                <span *ngIf="page === '/monthly'" class="app-title">monthly</span>
            </div>
            <div
                [ngClass]="{
                    'app-container': true,
                    'selected-container': page === '/dashboard'
                }"
                (click)="onChangeRoute('/dashboard')"
            >
                <mat-icon
                    [ngClass]="{ 'app-icon': true, 'icon-route': page !== '/dashboard' }"
                    [matTooltip]="page !== '/dashboard' ? 'dashboard' : ''"
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="space_dashboard"
                ></mat-icon>
                <span *ngIf="page === '/dashboard'" class="app-title">dashboard</span>
            </div>
        </div>
        <div class="icon-container">
            <mat-icon
                *ngIf="userState.user$ | async"
                class="app-icon profile"
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="account_circle"
                (click)="openProfile()"
            ></mat-icon>
        </div>
        <div class="icon-container">
            <mat-icon
                class="app-icon dark-mode"
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="dark_mode"
                (click)="toggleDarkMode()"
            ></mat-icon>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
