<mat-toolbar class="toolbar mobile" color="secondary">
    <mat-toolbar-row class="toolbar-row">
        <mat-icon
            [ngClass]="{
                    'material-symbols-outlined': true,
                    'app-icon': true,
                }"
            aria-hidden="false"
            aria-label="Example menu icon"
            fontIcon="menu"
        ></mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container [hasBackdrop]="innerWidth < 600" class="drawer-main">
    <mat-drawer
        class="drawer-container"
        #drawer
        [mode]="innerWidth < 600 ? 'over' : 'side'"
        opened
    >
        <item-layout-component
            class="item"
            *ngFor="let item of items"
            [item]="item"
            [actualPage]="actualPage"
        />
        <!-- <div
            [ngClass]="{
                'app-container': true,
                'selected-container': page === '/'
            }"
            (click)="onChangeRoute('/')"
        >
            <mat-icon
                [ngClass]="{
                    'material-symbols-outlined': page !== '/',
                    'app-icon': true,
                    'icon-route':
                        page !== '/' && (generalState.theme$ | async) !== 'binary'
                }"
                [matTooltip]="page !== '/' ? 'home' : ''"
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="cottage"
            ></mat-icon>
            <span
                [ngClass]="{
                    'app-title': true,
                    'background-color': (generalState.theme$ | async) !== 'binary'
                }"
                >finances</span
            >
        </div>
        <div class="routes-container" *ngIf="userState.user$ | async">
            <div
                [ngClass]="{
                    'app-container': true,
                    'selected-container': page === '/manager'
                }"
                (click)="onChangeRoute('/manager')"
            >
                <mat-icon
                    [ngClass]="{
                        'material-symbols-outlined': page !== '/manager',
                        'app-icon': true,
                        'icon-route':
                            page !== '/manager' &&
                            (generalState.theme$ | async) !== 'binary'
                    }"
                    [matTooltip]="page !== '/manager' ? 'manager' : ''"
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="edit_square"
                ></mat-icon>
                <span
                    *ngIf="page === '/manager'"
                    [ngClass]="{
                          'app-title': true,
                      }"
                    >manager</span
                >
            </div>
            <div
                [ngClass]="{
                    'app-container': true,
                    'selected-container': page === '/monthly'
                }"
                (click)="onChangeRoute('/monthly')"
            >
                <mat-icon
                    [ngClass]="{
                        'material-symbols-outlined': page !== '/monthly',
                        'app-icon': true,
                        'icon-route':
                            page !== '/monthly' &&
                            (generalState.theme$ | async) !== 'binary'
                    }"
                    [matTooltip]="page !== '/monthly' ? 'monthly' : ''"
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="calendar_month"
                ></mat-icon>
                <span *ngIf="page === '/monthly'" class="app-title">monthly</span>
            </div>
            <div
                [ngClass]="{
                    'app-container': true,
                    'selected-container': page === '/dashboard'
                }"
                (click)="onChangeRoute('/dashboard')"
            >
                <mat-icon
                    [ngClass]="{
                        'material-symbols-outlined': page !== '/dashboard',
                        'app-icon': true,
                        'icon-route':
                            page !== '/dashboard' &&
                            (generalState.theme$ | async) !== 'binary'
                    }"
                    [matTooltip]="page !== '/dashboard' ? 'dashboard' : ''"
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="pie_chart"
                ></mat-icon>
                <span *ngIf="page === '/dashboard'" class="app-title">dashboard</span>
            </div>
        </div>
        <div class="icon-container">
            <mat-icon
                *ngIf="userState.user$ | async"
                [ngClass]="['app-icon', 'profile', 'material-symbols-outlined']"
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="account_circle"
                (click)="openProfile()"
            ></mat-icon>
        </div>
        <div class="icon-container">
            <mat-icon
                [ngClass]="['app-icon', 'dark-mode', 'material-symbols-outlined']"
                aria-hidden="false"
                [matMenuTriggerFor]="menu"
                aria-label="Example home icon"
                fontIcon="dark_mode"
            ></mat-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="changeLayout('default')">default</button>
                <button mat-menu-item (click)="changeLayout('dark')">dark</button>
                <button mat-menu-item (click)="changeLayout('binary')">binary</button>
            </mat-menu>
        </div> -->
    </mat-drawer>
    <mat-drawer-content>
        <div class="router-outlet">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
