<mat-toolbar class="toolbar" color="secondary">
    <mat-toolbar-row class="toolbar-row">
        <div class="app-container" [routerLink]="['/']">
            <span class="app-title">home finances</span>
        </div>
        <div class="routes-container" *ngIf="userState.user$ | async">
            <div class="app-container" [routerLink]="['/manager']">
                <mat-icon
                    class="app-icon"
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="edit_square"
                ></mat-icon>
                <span class="app-title">manager</span>
            </div>
            <div class="app-container" [routerLink]="['/monthly']">
                <mat-icon
                    class="app-icon"
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="calendar_month"
                ></mat-icon>
                <span class="app-title">monthly</span>
            </div>
            <div class="app-container" [routerLink]="['/dashboard']">
                <mat-icon
                    class="app-icon"
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="space_dashboard"
                ></mat-icon>
                <span class="app-title">dashboard</span>
            </div>
            <span class="example-spacer"></span>
        </div>
        <mat-icon
            *ngIf="userState.user$ | async"
            class="app-icon profile"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="account_circle"
            (click)="openProfile()"
        ></mat-icon>
        <mat-icon
            *ngIf="userState.user$ | async"
            class="app-icon dark-mode"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="dark_mode"
            (click)="toggleDarkMode()"
        ></mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
