.drawer-main {
    min-width: 100vw;
    max-height: 100vh;
    background-color: var(--background);
}

.drawer-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    margin: 20px 20px 20px 0px;
    border-radius: 0px 10px 10px 0px;
    border: solid 1px var(--border-color);
    background-color: var(--primary);
    gap: 20px;
    &.binary {
        background-color: var(--background);
    }
}

.drawer-content {
    padding: 20px 20px 20px 40px;
}

.toolbar {
    display: flex;
    background-color: var(--primary);
    border-bottom: 1px solid var(--border);
    margin: 0px;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    z-index: 2;
}

.toolbar-row {
    margin: auto;
}

.routes-container {
    margin: auto 10px;
    display: flex;
    width: 90%;
}

.app-title {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--icon);
    margin: auto 5px auto 0px;
}

.background-color {
    color: var(--background);
}

.app-icon {
    color: var(--icon);
    height: auto;
    width: 40px;
    font-size: 30px;
    margin: auto;
    cursor: pointer;
    &.profile {
        margin: auto 0px;
    }
}

.icon-container {
    display: flex;
    text-align: center;
    height: 40px;
    margin-right: 10px;
    width: max-content;
    background-color: var(--background);
    border-radius: 5px;
}

.app-container {
    margin: auto 10px;
    display: flex;
    &:hover {
        cursor: pointer;
    }
}

.selected-container {
    width: max-content;
    height: 40px;
    padding: 0px 10px;
    text-align: center;
    border-radius: 5px;
    background-color: var(--background);
    border: solid 1px var(--border);
}

.home {
    display: grid;
    grid-template: "page-icon page-title" / 20% 80%;
    min-height: 44px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 8vh;
    padding: 8px 12px;
    &:hover {
        cursor: pointer;
    }
}

.home-title {
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    color: var(--icon);
    font-size: 22px;
    margin: auto auto auto 10px;
}

.home-icon {
    color: var(--icon);
    height: auto;
    width: 60px;
    font-size: 50px;
    margin: auto;
    cursor: pointer;
}
