.divider {
    height: 1px;
    width: 100%;
    background-color: var(--description);
}

p {
    color: var(--text-1);
    font-size: 1rem;
    font-family: Open-Sans-Regular;
    margin-bottom: 2px;
}

.add-filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
}

.data-field,
.data-field-1,
.data-field-2 {
    width: 48%;
}

.input {
    width: 100%;
}

.reset-button {
    margin: 10px 0px 0px auto;
}

.credit-card-field {
    width: 40%;
    margin-bottom: 10px;
}

.chip-grid {
    display: block;
    padding: 12px 0px;
    min-height: 50px;
}

.chip-grid-title {
    font: normal 14px Roboto;
    margin-bottom: -8px;
    background-color: var(--item-list);
    color: var(--description);
    width: 90px;
    position: relative;
}

.chip-item {
    margin-right: 6px;
    margin-bottom: 6px;
}

.hint {
    color: var(--text-1);
    font-size: 1rem;
    font-family: Open-Sans-Regular;
}
