<div class="filter-main" *ngIf="generalState.filterContainer$ | async">
    <!-- <div class="filter-button-container"> -->
    <!-- <button
            *ngIf="(filterState.filters$ | async)!.length > 0"
            mat-button
            [ngClass]="['button-primary', 'margin']"
            (click)="removeFilter()"
        >
            <mat-icon class="filter-icon material-symbols-outlined"
                >delete_sweep</mat-icon
            >
        </button>
        <button
            aria-label="open filter selector"
            matTooltip="filter selector"
            matTooltipPosition="above"
            mat-button
            [ngClass]="['button-primary']"
            (click)="openDialog()"
        >
            <mat-icon class="filter-icon material-symbols-outlined">filter_alt</mat-icon>
            <p>filter</p>
        </button> -->
    <!-- </div> -->
    <div
        [ngClass]="[
            'filter-container',
            (generalState.theme$ | async) === 'binary' ? 'binary' : ''
        ]"
    >
        <div class="filter-date">
            <h5 class="month-label">month</h5>
            <mat-form-field class="month-input" appearance="outline">
                <mat-select
                    placeholder="pick month"
                    #month
                    (selectionChange)="addMonth($event)"
                    [formControl]="monthCtrl"
                >
                    @for (m of months; track m) {
                    <mat-option [value]="m">{{ m.name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <p class="slash">/</p>
            <h5 class="year-label">year</h5>
            <mat-form-field class="year-input" appearance="outline">
                <input
                    (keyup.enter)="addYear($event)"
                    matInput
                    #year
                    type="number"
                    [formControl]="yearCtrl"
                />
                @if (yearCtrl.invalid) {
                <mat-error>invalid year (2023-2090)</mat-error>
                }
            </mat-form-field>
        </div>
        <div class="filter-status">
            <h5 class="status-label">bill status</h5>
            <mat-form-field class="status-field" appearance="outline">
                <mat-select
                    #status
                    (selectionChange)="addStatus($event)"
                    [formControl]="statusCtrl"
                >
                    <mat-option [value]="'all'">all</mat-option>
                    <mat-option [value]="'pending'">pending</mat-option>
                    <mat-option [value]="'settled'">settled</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="filter-min-max">
            <h5 class="min-label">min total</h5>
            <mat-form-field class="min-input" appearance="outline">
                <input
                    (keydown.enter)="addLimit($event, 'min')"
                    matInput
                    #min
                    type="number"
                    [formControl]="minCtrl"
                />
                @if (minCtrl.invalid) {
                <mat-error>invalid min value</mat-error>
                }
            </mat-form-field>
            <!-- max value total -->
            <h5 class="max-label">max total</h5>
            <mat-form-field class="max-input" appearance="outline">
                <input
                    (keydown.enter)="addLimit($event, 'max')"
                    matInput
                    #max
                    type="number"
                    [formControl]="maxCtrl"
                />
                @if (maxCtrl.invalid) {
                <mat-error>invalid max value</mat-error>
                }
            </mat-form-field>
        </div>
        <div class="filter-type">
            <h5 class="type-label">bill type</h5>
            <mat-form-field class="type-input" appearance="outline">
                <mat-select
                    #type
                    (selectionChange)="addType($event)"
                    [formControl]="typeCtrl"
                >
                    <mat-option [value]="'all'">all</mat-option>
                    <mat-option [value]="'creditCard'">credit card</mat-option>
                    <mat-option [value]="'money'">money</mat-option>
                    <mat-option [value]="'companyCredit'">company credit</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="filter-buttons">
            <mat-icon
                class="material-symbols-outlined collapse"
                aria-hidden="false"
                aria-label="collapse icon"
                fontIcon="expand_less"
                [matTooltip]="'collapse filter'"
                [matTooltipPosition]="'above'"
                (click)="closeFilterContainer()"
            ></mat-icon>
            <div class="filter-counter">
                <div
                    [ngClass]="[
                        'counter',
                        (generalState.theme$ | async) === 'binary' ? 'binary' : ''
                    ]"
                >
                    <p>{{ (filterState.filters$ | async)?.length }}</p>
                </div>
                <p>active</p>
            </div>
            <div class="actions">
                <div
                    [ngClass]="[
                        'icon-container',
                        (generalState.theme$ | async) === 'binary' ? 'binary' : ''
                    ]"
                >
                    <mat-icon
                        class="material-symbols-outlined"
                        aria-hidden="false"
                        aria-label="filter icon"
                        fontIcon="filter_alt"
                        [matTooltip]="'more filters'"
                        [matTooltipPosition]="'above'"
                        (click)="openDialog()"
                    ></mat-icon>
                </div>
                <div
                    [ngClass]="[
                        'icon-container',
                        (generalState.theme$ | async) === 'binary' ? 'binary' : ''
                    ]"
                >
                    <mat-icon
                        class="material-symbols-outlined"
                        aria-hidden="false"
                        aria-label="remove icon"
                        fontIcon="delete_sweep"
                        [matTooltip]="'remove all filters'"
                        [matTooltipPosition]="'above'"
                        (click)="removeFilter()"
                    ></mat-icon>
                </div>
            </div>
        </div>
        <div class="divider-1"></div>
        <div class="divider-2"></div>
        <div class="divider-3"></div>
        <div class="divider-4"></div>
    </div>
    <!-- <div class="chip-grid">
        <p class="filter-label">applied filters:</p>
        <p *ngIf="(filterState.filters$ | async)?.length === 0" class="filter-label">
            no filters applied
        </p>
        @for (chip of filterState.filters$ | async; track chip; let i = $index) {
        <mat-chip-row
            [ngClass]="[chip.identifier, 'chip-item', generalState.theme$ | async]"
            (removed)="removeFilter(chip)"
        >
            {{
                chip.identifier === "min" || chip.identifier === "max"
                    ? chip.identifier + ":"
                    : ""
            }}
            {{ chip.name }}
            <button matChipRemove [attr.aria-label]="'remove ' + chip.name">
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip-row>
        }
    </div> -->
</div>
