<div class="filter-main" *ngIf="generalState.filterContainer$ | async">
    <div
        [ngClass]="[
            'filter-container',
            (generalState.theme$ | async) === 'binary' ? 'binary' : ''
        ]"
    >
        <div class="filter-date">
            <h6 class="month-label">month</h6>
            <mat-form-field class="month-input" appearance="outline">
                <mat-select
                    placeholder="month"
                    #month
                    (selectionChange)="addMonth($event)"
                    [formControl]="monthCtrl"
                >
                    @for (m of months; track m) {
                    <mat-option [value]="m">{{ m.short }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <h6 class="year-label">year</h6>
            <mat-form-field class="year-input" appearance="outline">
                <input
                    placeholder="year"
                    (keyup.enter)="addYear($event)"
                    matInput
                    #year
                    type="number"
                    [formControl]="yearCtrl"
                />
                @if (yearCtrl.invalid) {
                <mat-error>invalid year (2023-2090)</mat-error>
                }
            </mat-form-field>
        </div>
        <div class="filter-status">
            <h6 class="status-label">bill status</h6>
            <toggle-button
                class="status-component"
                [items]="statusItems"
                [formController]="statusCtrl"
                (handleClick)="addStatus($event)"
            />
        </div>
        <div class="filter-money-flux">
            <h6 class="money-flux-label">bill payment</h6>
            <toggle-button
                class="money-flux-component"
                [items]="moneyFluxItems"
                [formController]="moneyFluxCtrl"
                (handleClick)="addMoneyFlux($event)"
            />
        </div>
        <div class="filter-type">
            <h6 class="type-label">bill type</h6>
            <toggle-button
                class="type-component"
                [items]="typeItems"
                [formController]="typeCtrl"
                (handleClick)="addType($event)"
            />
        </div>
        <div class="filter-buttons">
            <button
                aria-label="open filter selector"
                matTooltip="more filters"
                matTooltipPosition="above"
                mat-button
                [ngClass]="['button-primary']"
                (click)="openDialog()"
            >
                <mat-icon class="icon material-symbols-outlined">add</mat-icon>
                <mat-icon class="icon material-symbols-outlined">filter_alt</mat-icon>
            </button>
            <button
                *ngIf="(filterState.filters$ | async)!.length > 0"
                aria-label="remove filters button"
                matTooltip="remove all filters"
                matTooltipPosition="above"
                mat-button
                [ngClass]="['button-secondary', 'remove']"
                (click)="removeFilter()"
            >
                <mat-icon class="icon material-symbols-outlined">delete</mat-icon>
                <mat-icon class="icon material-symbols-outlined">filter_alt</mat-icon>
            </button>
        </div>
        <div class="divider-1"></div>
        <div class="divider-2"></div>
        <div class="divider-3"></div>
        <div class="divider-4"></div>
        <div *ngIf="(filterState.filters$ | async)!.length > 0" class="divider-5"></div>
        <div *ngIf="(filterState.filters$ | async)!.length > 0" class="filter-list">
            @for (chip of filterState.filters$ | async; track chip; let i = $index) {
            <mat-chip-row
                [ngClass]="[chip.identifier, 'chip-item', generalState.theme$ | async]"
                (removed)="removeFilter(chip)"
            >
                {{
                    chip.identifier === "min" || chip.identifier === "max"
                        ? chip.identifier + ":"
                        : ""
                }}
                {{ chip.name }}
                <button matChipRemove [attr.aria-label]="'remove ' + chip.name">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
            }
        </div>
    </div>
</div>
