<div class="filter-main" *ngIf="generalState.filterContainer$ | async">
    <div
        [ngClass]="[
            'filter-container',
            (generalState.theme$ | async) === 'binary' ? 'binary' : ''
        ]"
    >
        <div class="filter-term">
            <h6>term</h6>
            <mat-form-field class="term-input" appearance="outline">
                <input
                    (keyup.enter)="addTerm($event)"
                    maxlength="50"
                    [formControl]="termCtrl"
                    matInput
                />
                <mat-hint>press 'enter' to search</mat-hint>
            </mat-form-field>
        </div>
        <div class="filter-date">
            <h6 class="date-label">date span</h6>
            <toggle-button
                class="date-component"
                [items]="monthItems"
                [formController]="dateCtrl"
                (onClick)="addDateSpan($event)"
            />
        </div>
        <div class="filter-status">
            <h6 class="status-label">bill status</h6>
            <toggle-button
                class="status-component"
                [items]="statusItems"
                [formController]="statusCtrl"
                (onClick)="addStatus($event)"
            />
        </div>
        <div class="filter-money-flux">
            <h6 class="money-flux-label">bill payment</h6>
            <toggle-button
                class="money-flux-component"
                [items]="moneyFluxItems"
                [formController]="moneyFluxCtrl"
                (onClick)="addMoneyFlux($event)"
            />
        </div>
        <div class="filter-type">
            <h6 class="type-label">bill type</h6>
            <toggle-button
                class="type-component"
                [items]="typeItems"
                [formController]="typeCtrl"
                (onClick)="addType($event)"
            />
        </div>
        <div class="filter-buttons">
            <btn
                aria-label="open filter selector"
                matTooltip="more filters"
                matTooltipPosition="above"
                variant="primary"
                (onClick)="openDialog()"
            >
                <mat-icon class="icon material-symbols-outlined">add</mat-icon>
                <mat-icon class="icon material-symbols-outlined">filter_alt</mat-icon>
            </btn>
            <btn
                *ngIf="(filterState.filters$ | async)!.length > 0"
                aria-label="remove filters button"
                matTooltip="remove all filters"
                matTooltipPosition="above"
                variant="secondary"
                (onClick)="removeFilter()"
            >
                <mat-icon class="icon material-symbols-outlined">delete</mat-icon>
                <mat-icon class="icon material-symbols-outlined">filter_alt</mat-icon>
            </btn>
        </div>
        <div class="divider-1"></div>
        <div class="divider-2"></div>
        <div class="divider-3"></div>
        <div class="divider-4"></div>
        <div *ngIf="(filterState.filters$ | async)!.length > 0" class="divider-5"></div>
        <div *ngIf="(filterState.filters$ | async)!.length > 0" class="filter-list">
            @for (chip of filterState.filters$ | async; track chip; let i = $index) {
            <mat-chip-row
                [ngClass]="[chip.identifier, 'chip-item', generalState.theme$ | async]"
                (removed)="removeFilter(chip)"
            >
                <mat-icon
                    class="icon material-symbols-outlined"
                    [fontIcon]="filterToIcon[chip.identifier]"
                ></mat-icon>
                <p>
                    {{
                        chip.identifier === "min" || chip.identifier === "max"
                            ? chip.identifier + ":"
                            : ""
                    }}
                    {{ chip.identifier === "name" ? '"' + chip.name + '"' : chip.name }}
                </p>
                <button matChipRemove [attr.aria-label]="'remove ' + chip.name">
                    <mat-icon class="remove">cancel</mat-icon>
                </button>
            </mat-chip-row>
            }
        </div>
    </div>
</div>
