.filter-icon {
    margin: auto !important;
    font-size: 1.5rem;
    width: auto;
    height: auto;
}

.margin {
    display: flex;
    margin: auto 20px auto 0px;
    border-radius: 5px !important;
}

.chip-grid {
    display: block;
    background-color: var(--item-list);
    border: solid 1px var(--border);
    padding: 12px 0px 0px;
    min-height: 100px;
    width: 300px;
    padding: 10px;
    margin: auto 20px -6px auto;
    text-align: left;
    font-variant-caps: all-small-caps;
    border-radius: 10px;
}

.chip-item {
    margin-right: 6px;
    margin-bottom: 6px;
}

.filter-main {
    display: flex;
    flex-direction: column;
}

.filter-button-container {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
}

.filter-label {
    margin: 0px 0px 12px;
    color: var(--title);
}

.filter-container {
    width: 100%;
    min-height: 100px;
    background-color: var(--background-highlighter);
    border-radius: var(--border-radius);
    /* box-shadow: 2px 2px 4px 0px var(--text-3); */
    display: grid;
    grid-template-areas: "filter-date divider-1 filter-status divider-2 filter-min-max divider-3 filter-type";
    grid-template-columns: 1fr 1px 1fr 1px 1fr 1px 1fr;
}

.divider-1,
.divider-2,
.divider-3 {
    height: 80px;
    width: 2px;
    background-color: var(--third);
    margin: auto;
}

.filter-date {
    padding: 12px 16px;
    display: grid;
    row-gap: 3px;
    column-gap: 5px;
    grid-template-areas: "month-label month-label year-label" "month-input slash year-input";
    grid-area: filter-date;
    & .month-label {
        grid-area: month-label;
        color: var(--text-2);
    }
    & .month-input {
        grid-area: month-input;
    }
    & .year-label {
        grid-area: year-label;
        color: var(--text-2);
    }
    & .year-input {
        grid-area: year-input;
    }
    & .slash {
        margin: 8px auto auto;
        font-size: 1.25rem;
    }
}

.filter-status {
    grid-area: filter-status;
}

.filter-min-max {
    grid-area: filter-min-max;
}

.filter-type {
    grid-area: filter-type;
}
