<h5 class="label" *ngIf="label.length > 0">{{ label }}</h5>
<div class="group" #status [formControl]="formController" ngDefaultControl>
    <button
        *ngFor="let item of items"
        (click)="handleClick(item)"
        [ngClass]="[getSelectedClass(item)]"
        [value]="item"
        [disabled]="disabled"
    >
        <mat-icon
            [style.color]="item.icon ? item.icon.color + '!important' : ''"
            *ngIf="item.icon || isEqual(item)"
            class="icon material-symbols-outlined"
            >{{ item.icon ? item.icon.name : "check" }}
        </mat-icon>
        <p>{{ item.label }}</p>
    </button>
</div>
