<p class="label" *ngIf="label.length > 0">{{ label }}</p>
<div class="group" #status [formControl]="formController" ngDefaultControl>
    <btn
        *ngFor="let item of items"
        (onClick)="handleClick(item)"
        [disabled]="disabled"
        [variant]="getVariant(item)"
        [classes]="getClasses(item)"
    >
        <mat-icon
            [style.color]="item.icon ? item.icon.color + '!important' : ''"
            *ngIf="item.icon || isEqual(item)"
            class="icon material-symbols-outlined"
            >{{ item.icon ? item.icon.name : "check" }}
        </mat-icon>
        <p>{{ item.label }}</p>
    </btn>
</div>
