<div
    *ngIf="page !== '/'"
    [ngClass]="{
        'item-container': true,
        'item-selected': page === actualPage,
        top: '/settings' === page
    }"
    (click)="onClickItem(page)"
>
    <mat-icon
        [ngClass]="{
            'material-symbols-outlined': page !== actualPage,
            'page-icon': true,
            'icon-route':
                page !== actualPage && (generalState.theme$ | async) !== 'binary'
        }"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="{{ icon }}"
    ></mat-icon>
    <span
        [ngClass]="{
            'item-title': true,
            'background-color': (generalState.theme$ | async) !== 'binary'
        }"
        >{{ title }}</span
    >
</div>
