.textfield-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textfield-label {
  margin: 0px auto 10px 20px;
}

.input-container {
  width: 80%;
  height: 25px;
  color: white;
  background-color: rgb(35, 35, 35);
  border-color: rgb(35, 35, 35);
  margin: auto;
  padding: 10px 20px;
  border-radius: 10px;
}

.input-container:focus {
  outline: none;
}
