<div class="category">
    <h1 class="page-title">categories</h1>
    <feedback-container
        *ngIf="(categoryState.categories$ | async)?.length === 0"
        [info]="(categoryState.status$ | async)!"
    ></feedback-container>
    <div class="category-infos"></div>
    <div class="category-grid">
        <li
            class="category-li"
            *ngFor="let category of (categoryState.categories$ | async)"
        >
            <div
                class="category-container"
                [ngClass]="[ generalState.theme$ | async]"
                (click)="openDetails(category, $event)"
            >
                <div
                    class="category-color"
                    [style.backgroundColor]="category.color"
                ></div>
                <h3 class="category-title">{{category.name}}</h3>
                <p class="category-description">{{category.description}}</p>
                <mat-icon
                    class="category-icon"
                    aria-hidden="false"
                    aria-label="icon"
                    [fontIcon]="category.icon"
                ></mat-icon>
                <actions
                    class="category-buttons"
                    [data]="category"
                    [actions]="actions"
                ></actions>
            </div>
        </li>
    </div>
</div>
