<modal-component [footer]="mode" (actionPrimary)="onSubmit()" [bodyTemplate]="newBank"></modal-component>

<ng-template #newBank>
    <div class="new-bank-container">
        <mat-form-field class="new-bank-field" appearance="outline">
            <mat-label>name</mat-label>
            <input maxlength="100" required matInput [formControl]="name" (blur)="updateNameErrorMessage()" />
            @if (name.invalid) {
            <mat-error>{{errorMessage.name}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="new-bank-field" appearance="outline">
            <mat-label>description</mat-label>
            <input maxlength="100" matInput [formControl]="description" (blur)="updateDescriptionErrorMessage()" />
            @if (description.invalid) {
            <mat-error>{{errorMessage.description}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="color-picker" appearance="outline">
            <mat-label>color</mat-label>
            <input matInput type="color" [(ngModel)]="color" />
        </mat-form-field>
    </div>
</ng-template>
