<mat-expansion-panel class="bill-expansion" hideToggle>
    <mat-expansion-panel-header class="bill-expansion-container">
        <mat-panel-title>
            <div class="bill-title-container">
                <p [ngClass]="['value', 'width-40']">{{ data.name }}</p>
                <div class="width-30">
                    <p class="label">bank</p>
                    <p class="value">{{data.bank1?.name}}</p>
                </div>
                <div class="width-15">
                    <p class="label">value</p>
                    <p class="value">{{data.total | currency:"R$ "}}</p>
                </div>
                <p [ngClass]="['value', 'width-15']">
                    {{ data.paid | date: "MMM/yyyy" }}
                </p>
            </div>
            <div class="bill-color-container" [style.borderRightColor]="color"></div>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="bill-expanded-container">
        <div class="width-50">
            <p class="label">description</p>
            <p class="value">{{ data.description }}</p>
        </div>
        <div class="width-25" *ngIf="data.bank2">
            <p class="label">bank 2</p>
            <p class="value">{{data.bank2.name}}</p>
        </div>
        <div class="width-25">
            <p class="label">max transaction date</p>
            <p class="value">{{data.due | date: "fullDate"}}</p>
        </div>
        <actions
            class="icons-container width-30"
            (onEdit)="onEdit()"
            (onDelete)="onDelete()"
        ></actions>
    </div>
</mat-expansion-panel>
