<div class="tab-container">
    <feedback-container
        *ngIf="(ccState.creditCards$ | async)?.length === 0"
        [info]="typeObject"
    ></feedback-container>
    <li *ngFor="let creditCard of (ccState.creditCards$ | async)">
        <div class="cc-item-list">
            <div class="cc-item-text">
                <p class="cc-title">{{creditCard.name}}</p>
                <p class="cc-description">{{creditCard.description}}</p>
                <div class="cc-limit">
                    <p>limit:</p>
                    <p>{{creditCard.limit}} R$</p>
                </div>
            </div>

            <button class="icon-button" mat-icon-button aria-label="color label">
                <mat-icon
                    class="icon-edit"
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="edit"
                ></mat-icon>
            </button>

            <div
                class="cc-color-container"
                [style.borderRightColor]="creditCard.color"
            ></div>
        </div>
    </li>
</div>
