<div [ngClass]="['modal-container', data.size]">
    <h2 mat-dialog-title class="modal-header">
        <p>{{ modalState.header$ | async }}</p>
        <mat-icon
            class="app-icon close"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="close"
            (click)="dialogRef.close()"
        ></mat-icon>
    </h2>
    <div class="modal-body">
        <ng-container *ngTemplateOutlet="bodyTemplate || defaultBody"> </ng-container>
        <ng-template #defaultBody></ng-template>
    </div>
    <div class="modal-footer" [ngSwitch]="(modalState.footer$ | async)?.type">
        <button
            *ngSwitchCase="'submit'"
            mat-button
            class="button-secondary"
            (click)="this.onSecondary()"
        >
            {{ (modalState.footer$ | async)?.alert }}
        </button>
        <button
            *ngSwitchCase="'submit'"
            [disabled]="(modalState.footer$ | async)?.disabled"
            mat-button
            class="button-primary add-margin-left"
            (click)="this.onPrimary()"
            cdkFocusInitial
        >
            {{ (modalState.footer$ | async)?.submit }}
        </button>
        <button
            *ngSwitchCase="'alert'"
            mat-button
            class="modal-button-close"
            (click)="dialogRef.close()"
        >
            {{ (modalState.footer$ | async)?.alert }}
        </button>
        <div *ngSwitchCase="'none'"></div>
    </div>
</div>
