<div [ngClass]="['modal-container', size, hideHeader ? 'no-header' : '']">
    <div mat-dialog-title class="modal-header" *ngIf="!hideHeader">
        <h3>{{ header }}</h3>
    </div>
    <mat-icon
        class="modal-close-icon"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="close"
        (click)="dialogRef.close()"
    ></mat-icon>
    <div class="modal-body">
        <ng-container *ngTemplateOutlet="bodyTemplate || defaultBody"> </ng-container>
        <ng-template #defaultBody></ng-template>
    </div>
    <div class="modal-footer">
        <btn
            *ngIf="this.actionSecondary.observed"
            variant="secondary"
            (onClick)="this.onSecondary()"
        >
            <p>{{ (modalState.footer$ | async)?.alertLabel }}</p>
        </btn>
        <btn
            *ngIf="this.actionPrimary.observed"
            [disabled]="disableButton"
            (onClick)="this.onPrimary()"
            variant="primary"
        >
            <p>{{ (modalState.footer$ | async)?.submitLabel }}</p>
        </btn>
        <btn
            *ngIf="!this.actionPrimary.observed && !this.actionSecondary.observed"
            variant="secondary"
            (onClick)="dialogRef.close()"
        >
            <p>{{ (modalState.footer$ | async)?.alertLabel }}</p>
        </btn>
    </div>
</div>
