.modal-container {
    display: flex;
    flex-direction: column;
    background-color: var(--item-list);
    position: relative;
    min-height: 150px;
    width: 50vw;
    z-index: 3;
    padding: 60px 20px 20px;
    border-radius: 10px;
    border: solid 1px var(--border);
}

.hidden {
    display: none;
}

.modal-container.xl {
    width: 80vw;
}

.modal-container.lg {
    width: 65vw;
}

.modal-container.sm {
    width: 35vw;
}

.modal-container.xm {
    width: 20vw;
}

.modal-backdrop {
    position: absolute;
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    left: 0px;
    top: 0px;
}

.modal-body {
    min-height: max-content;
    border-radius: 10px;
    z-index: 3;
    width: 100%;
    height: max-content;
}

.modal-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: absolute;
    top: 0%;
    left: 0%;
    text-align: center;
    padding: 0px 20px;
    margin-top: -8px;
    background-color: var(--primary);
    border: solid 1px var(--border);
    border-radius: 10px 10px 0px 0px;

    & p {
        color: var(--title);
        margin: auto auto auto 0px;
        font: bold 16px Roboto;
    }
}

.app-icon.close {
    margin: auto -10px auto auto;
    color: var(--secondary);
    cursor: pointer;
}

.modal-footer {
    margin: 20px 0px 0px auto;
}

.add-margin-left {
    margin-left: 20px;
}
