<card-component
    id="themes"
    title="themes"
    description="choose a theme for the application"
>
    <div class="main">
        <div class="themes grid">
            <div
                class="theme-container"
                *ngFor="let th of (themeState.themes$ | async)"
                (click)="clickedTheme(th)"
                [ngClass]="{
                  'theme-container': true,
                  selected: selectedTheme === th.id
                }"
            >
                <h4>{{th.title}}</h4>
                <p>{{th.description}}</p>
                <div class="theme-pallete">
                    <div
                        matTooltip="primary color"
                        class="pallete-color"
                        [style.backgroundColor]="th.primary"
                    ></div>
                    <div
                        matTooltip="secondary color"
                        class="pallete-color"
                        [style.backgroundColor]="th.secondary"
                    ></div>
                    <div
                        matTooltip="background color"
                        class="pallete-color"
                        [style.backgroundColor]="th.background"
                    ></div>
                </div>
                <actions
                    *ngIf="th.id !== 'default' && th.id !== 'binary' && th.id !== 'red-and-black'"
                    class="bill-buttons"
                    [transparent]="false"
                    [data]="th"
                    [actions]="actions"
                ></actions>
            </div>
        </div>
        <btn variant="primary" (click)="onNewProfileTheme()">
            <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="add"
            ></mat-icon>
            <p>create</p>
        </btn>
    </div>
</card-component>
