.new-bank-container {
    display: flex;
    flex-direction: column;
}

.color-picker {
    width: 33%;
}

.savings-input {
    width: 66%;
}

.savings-color {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.new-bank-field {
    margin-bottom: 10px;
}

.margin {
    margin-left: 20px;
}

.category-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
    margin: 0px auto -14px 20px;
    color: var(--description);
}
