<div class="modal-content">
    <h1>company info</h1>
    <form [formGroup]="configForm">
        <div class="form-container">
            <h4>money flow</h4>
            <mat-button-toggle-group
                formControlName="isPayment"
                name="moneyy flow"
                aria-label="Font Style"
            >
                <mat-button-toggle [value]="true">outcome</mat-button-toggle>
                <mat-button-toggle [value]="false">income</mat-button-toggle>
            </mat-button-toggle-group>
            <h4>is refund?</h4>
            <mat-button-toggle-group
                formControlName="isRefund"
                name="refund"
                aria-label="Font Style"
            >
                <mat-button-toggle [value]="true">yes</mat-button-toggle>
                <mat-button-toggle [value]="false">no</mat-button-toggle>
            </mat-button-toggle-group>
            <h4>payment processed?</h4>
            <mat-button-toggle-group
                formControlName="settled"
                name="settled"
                aria-label="Font Style"
            >
                <mat-button-toggle [value]="true">yes</mat-button-toggle>
                <mat-button-toggle [value]="false">no</mat-button-toggle>
            </mat-button-toggle-group>
            <div class="new-bill-field">
                <mat-form-field class="half" appearance="outline" color="primary">
                    <mat-label>date of payment</mat-label>
                    <input [matDatepicker]="picker1" matInput formControlName="paid" />
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle
                        matIconSuffix
                        [for]="picker1"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="half" appearance="outline">
                    <mat-label>date due</mat-label>
                    <input [matDatepicker]="picker2" matInput formControlName="due" />
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle
                        matIconSuffix
                        [for]="picker2"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
