@import "../../fonts/reem-kufi/reemkufi";
@import "../../fonts/roboto/roboto";
@import "../../fonts/opensans/opensans";
@import "../../fonts/gt-eesti/gteestitext";
@import "../../fonts/commissioner/commissioner";

h1 {
    font-family: var(--font-1);
    font-weight: 800;
    color: var(--text-1);
    font-size: calc(2.75 * var(--text-gen));
}

h2 {
    font-family: var(--font-1);
    font-weight: 800;
    color: var(--text-1);
    font-size: calc(2.2 * var(--text-gen));
}

h3 {
    font-family: var(--font-1);
    font-weight: 600;
    color: var(--text-1);
    font-size: calc(1.8 * var(--text-gen));
}

h4 {
    font-family: var(--font-1);
    font-weight: 600;
    color: var(--text-1);
    font-size: calc(1.6 * var(--text-gen));
}

h5 {
    font-family: var(--font-2);
    font-weight: 500;
    color: var(--text-1);
    font-size: calc(1.4 * var(--text-gen));
}

h6 {
    font-family: var(--font-2);
    font-weight: 500;
    color: var(--text-1);
    font-size: calc(1.2 * var(--text-gen));
}

p {
    font-family: var(--font-2);
    font-weight: 400;
    color: var(--text-1);
    font-size: calc(1 * var(--text-gen));
}
