h1 {
    font-family: Open-Sans-Bold;
}

h2 {
    font-family: Open-Sans-Regular;
}

h3,
h4,
h5,
h6 {
    font-family: Roboto-Regular;
}

p {
    font-family: Roboto-Regular;
}

@font-face {
    font-family: "Ougkeh-Regular";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("OugkehRegular"), local("OugkehRegular.otf"),
        url("../../../assets/fonts/ougkeh/OugkehRegular.otf") format("opentype");
}

@font-face {
    font-family: "Open-Sans-Light";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("OpenSans-Light"), local("OpenSans-Light.ttf"),
        url("../../../assets/fonts/opensans/OpenSans-Light.ttf") format("truetype");
}

/* font Open Sans Light Italic*/
@font-face {
    font-family: "Open-Sans-Light-Italic";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("OpenSans-LightItalic"), local("OpenSans-LightItalic.ttf"),
        url("../../../assets/fonts/opensans/OpenSans-LightItalic.ttf") format("truetype");
}

/* font Open Sans Italic*/
@font-face {
    font-family: "Open-Sans-Italic";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("OpenSans-Italic"), local("OpenSans-Italic.ttf"),
        url("../../../assets/fonts/opensans/OpenSans-Italic.ttf") format("truetype");
}

/* font Open Sans Regular */
@font-face {
    font-family: "Open-Sans-Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("OpenSans-Regular"), local("OpenSans-Regular.ttf"),
        url("../../../assets/fonts/opensans/OpenSans-Regular.ttf") format("truetype");
}

/* font Open Sans Regular Italic */
@font-face {
    font-family: "Open-Sans-Regular-Italic";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("OpenSans-Italic"), local("OpenSans-Italic.ttf"),
        url("../../../assets/fonts/opensans/OpenSans-Italic.ttf") format("truetype");
}

/* font Open Sans Bold Italic */
@font-face {
    font-family: "Open-Sans-Bold-Italic";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local("OpenSans-BoldItalic"), local("OpenSans-BoldItalic.ttf"),
        url("../../../assets/fonts/opensans/OpenSans-BoldItalic.ttf") format("truetype");
}

/* font Open Sans Semi Bold */
@font-face {
    font-family: "Open-Sans-Semi-Bold";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local("OpenSans-SemiBold"), local("OpenSans-SemiBold.ttf"),
        url("../../../assets/fonts/opensans/OpenSans-SemiBold.ttf") format("truetype");
}

/* font Open Sans Bold */
@font-face {
    font-family: "Open-Sans-Bold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("OpenSans-Bold"), local("OpenSans-Bold.ttf"),
        url("../../../assets/fonts/opensans/OpenSans-Bold.ttf") format("truetype");
}

/* font Open Sans Extra Bold */
@font-face {
    font-family: "Open-Sans-Extra-Bold";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local("OpenSans-ExtraBold"), local("OpenSans-ExtraBold.ttf"),
        url("../../../assets/fonts/opensans/OpenSans-ExtraBold.ttf") format("truetype");
}

/* font Open Sans Extra Bold Italic*/
@font-face {
    font-family: "Open-Sans-Extra-Bold-Italic";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local("OpenSans-ExtraBoldItalic"), local("OpenSans-ExtraBoldItalic.ttf"),
        url("../../../assets/fonts/opensans/OpenSans-ExtraBoldItalic.ttf")
            format("truetype");
}

@font-face {
    font-family: "Open-Sans-Semi-Bold-Italic";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local("OpenSans-SemiBoldItalic"), local("OpenSans-SemiBoldItalic.ttf"),
        url("../../../assets/fonts/opensans/OpenSans-SemiBoldItalic.ttf")
            format("truetype");
}

@font-face {
    font-family: "Roboto-Light";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Roboto-Light"), local("Roboto-Light.ttf"),
        url("../../../assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Light-Italic";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Roboto-LightItalic"), local("Roboto-LightItalic.ttf"),
        url("../../../assets/fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto-Regular"), local("Roboto-Regular.ttf"),
        url("../../../assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Italic";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto-Italic"), local("Roboto-Italic.ttf"),
        url("../../../assets/fonts/roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Bold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Roboto-Bold"), local("Roboto-Bold.ttf"),
        url("../../../assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Bold-Italic";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Roboto-BoldItalic"), local("Roboto-BoldItalic.ttf"),
        url("../../../assets/fonts/roboto/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Black";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local("Roboto-Black"), local("Roboto-Black.ttf"),
        url("../../../assets/fonts/roboto/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Black-Italic";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local("Roboto-BlackItalic"), local("Roboto-BlackItalic.ttf"),
        url("../../../assets/fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
}
