.bank-item-text {
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 100%;
}

.bank-savings {
    display: flex;
    flex-direction: column;
    width: 20%;
    color: var(--primary);
    font: normal 12px Helvetica;
    margin: auto 10px;
}
