<div class="tab-container">
    <feedback-container
        *ngIf="(bankState.banks$ | async)?.length === 0"
        [info]="typeObject"
    ></feedback-container>
    <li *ngFor="let bank of (bankState.banks$ | async)">
        <div class="creation-item-list">
            <div class="bank-item-text">
                <p class="bank-title">{{bank.name}}</p>
                <p class="bank-description">{{bank.description}}</p>
            </div>

            <button class="icon-button" mat-icon-button aria-label="color label">
                <mat-icon
                    class="icon-edit"
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="edit"
                ></mat-icon>
            </button>
            <div
                class="bank-color-container"
                [ngStyle]="{backgroundColor:bank.color}"
            ></div>
        </div>
    </li>
</div>
