<div class="tab-container">
    <feedback-container
        *ngIf="(bankState.banks$ | async)?.length === 0"
        [info]="(bankState.status$ | async)!"
    ></feedback-container>
    <li *ngFor="let bank of (bankState.banks$ | async); index as i; trackBy: trackBank">
        <div class="item-list">
            <div class="bank-item-text">
                <p class="title">{{bank.name}}</p>
                <p class="description">{{bank.description}}</p>
                <div class="bank-savings">
                    <p>savings:</p>
                    <p>{{bank.savings | currency: "R$ "}}</p>
                </div>
            </div>

            <div class="button-container">
                <button
                    matTooltip="edit"
                    matTooltipPosition="above"
                    class="icon-button"
                    mat-icon-button
                    aria-label="edit company button"
                >
                    <mat-icon
                        class="icon-edit"
                        aria-hidden="false"
                        aria-label="pen icon"
                        fontIcon="edit"
                    ></mat-icon>
                </button>
                <button
                    matTooltip="delete"
                    matTooltipPosition="above"
                    [ngClass]="['icon-button', 'left']"
                    mat-icon-button
                    aria-label="delete company button"
                >
                    <mat-icon
                        class="icon-edit"
                        aria-hidden="false"
                        aria-label="trash bin icon"
                        fontIcon="delete"
                    ></mat-icon>
                </button>
            </div>

            <div class="color-container" [style.borderRightColor]="bank.color"></div>
        </div>
    </li>
</div>
