<div class="creation-main">
    <button mat-button [ngClass]="['button-primary', 'margin']" (click)="openDialog()">
        new bill
    </button>
    <custom-filter></custom-filter>
    <div class="bill-list-container">
        <ng-template
            ngFor
            let-item
            [ngForOf]="(bills.bills$ | async)"
            let-i="index"
            [ngForTrackBy]="trackByFn"
        >
            <bank-list-template
                *ngIf="item.typeBill.referTo === 'banks'"
                [data]="item"
            ></bank-list-template>
            <credit-card-list-template
                *ngIf="item.typeBill.referTo === 'creditCard'"
                [data]="item"
            ></credit-card-list-template>
            <service-list-template
                *ngIf="item.typeBill.referTo === 'service'"
                [data]="item"
            ></service-list-template>
        </ng-template>
    </div>
</div>
