.margin {
    display: flex;
    margin: auto 0px auto auto;
}

.bill-list-container {
    padding: 20px 0px;
}

.bill-expansion {
    margin-bottom: 15px;
    border-radius: 0px;
    & .mat-expansion-panel-body {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        background-color: var(--secondary);
        padding-top: 16px;
    }
}

.bill-expansion-container {
    background-color: var(--item-list) !important;
    &:hover {
        background-color: var(--item-list) !important;
    }
}

.bill-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bill-expanded-container {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    width: 100%;
}

.label {
    font-weight: normal;
    font-size: 12px;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: var(--title);
}
.value {
    font-weight: bold;
    font-size: 16px;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: var(--description);
}

.width-50 {
    width: 50%;
}

.width-25 {
    width: 25%;
}

.width-30 {
    width: 30%;
}

.width-15 {
    width: 15%;
}

.width-40 {
    width: 40%;
}

.bill-color-container {
    width: 0;
    height: 0;
    position: absolute;
    left: 2px;
    top: -4px;
    rotate: 45deg;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid transparent;
    box-shadow: 2px 0px 1px 0px rgba(0, 0, 0, 0.2);
}
