.margin {
    display: flex;
    margin: auto 0px auto auto;
}

.bill-list-container {
    padding: 10px 0px;
}

.bill-expansion {
    margin-bottom: 15px;
    border-radius: 7px;
    border: 2px solid var(--primary);

    &.mat-expansion-panel {
        box-shadow: none;
    }
    & .mat-expanded {
        border-radius: 10px 10px 0px 0px;
        border-bottom: 1px solid var(--primary);
    }
    & .mat-expansion-panel-body {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        background-color: var(--background);
        padding-top: 16px;
    }
    & .mat-expansion-panel-body:hover .icons-container {
        display: flex;
        align-items: center;
        z-index: 3;
        background-color: var(--background);
    }
}

.icons-container {
    display: none;
}

.bill-expansion-container {
    min-height: 55px;
    background-color: var(--background) !important;
    &:hover {
        background-color: var(--background) !important;
    }
}

.bill-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bill-expanded-container {
    display: grid;
    grid-template-areas: "desc parcels total transaction icons-container";
    width: 100%;
}

.label {
    font-weight: normal;
    font-size: 12px;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: var(--title);
}
.value {
    font-weight: normal;
    font-size: 16px;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: var(--description);
}

.width-50 {
    width: 50%;
}

.width-25 {
    width: 25%;
}

.width-30 {
    width: 30%;
}

.width-15 {
    width: 15%;
}

.width-40 {
    width: 40%;
}

.bill-color-container {
    width: 0;
    height: 0;
    position: absolute;
    left: 2px;
    top: -4px;
    rotate: 45deg;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid transparent;
    box-shadow: 2px 0px 1px 0px rgba(0, 0, 0, 0.2);
}
