<div class="creation-main wide">
    <div class="monthly-container">
        <custom-filter></custom-filter>
        <div class="bill-list-container">
            <button
                aria-label="create new bill button"
                mat-button
                color="primary"
                class="button-primary"
                (click)="openDialog()"
            >
                new bill
            </button>
            <pagination-template></pagination-template>
            <feedback-container
                *ngIf="(billState.bills$| async)?.length === 0"
                [info]="(billState.status$ | async)!"
            ></feedback-container>
            <ng-template
                ngFor
                let-item
                [ngForOf]="(billState.bills$ | async)"
                let-i="index"
                [ngForTrackBy]="trackByFn"
            >
                <bank-list-template
                    *ngIf="item.type === 'money'"
                    [data]="item"
                ></bank-list-template>
                <credit-card-list-template
                    *ngIf="item.type === 'creditCard'"
                    [data]="item"
                ></credit-card-list-template>
                <service-list-template
                    *ngIf="item.type === 'companyCredit'"
                    [data]="item"
                ></service-list-template>
            </ng-template>
        </div>
    </div>
</div>
