.divider {
    height: 1px;
    width: 100%;
    background-color: #000000;
}

.add-filter-container {
    display: inline-block;
    flex-direction: column;
    width: 100%;
}

.data-field {
    width: 50%;
    margin-bottom: 10px;
    padding: 0px 5px 0px;
}

.credit-card-field {
    width: 40%;
    margin-bottom: 10px;
}

.chip-grid {
    display: block;
    padding: 6px 0px;
}

.chip-item {
    margin-right: 6px;
    margin-bottom: 6px;
}
