<div class="modal-content">
    <h1>company info</h1>
    <form [formGroup]="compForm">
        <div class="form-container">
            <mat-form-field class="new-bill-field" appearance="outline">
                <mat-label>company</mat-label>
                <mat-select formControlName="company">
                    @for (c of (companies.company$ | async); track c) {
                    <mat-option [value]="c">{{ c.name }}</mat-option>
                    }
                </mat-select>
                @if (compForm.controls.company.invalid) {
                <mat-error>{{errorMessage.company}}</mat-error>
                }
            </mat-form-field>
            <mat-form-field class="new-bill-field" appearance="outline">
                <mat-label>bank</mat-label>
                <mat-select
                    (selectionChange)="toggleError('bank')"
                    formControlName="bank1"
                >
                    <mat-option [value]="null">none</mat-option>
                    @for (b of (banks.banks$ | async); track b) {
                    <mat-option [value]="b">{{ b.name }}</mat-option>
                    }
                </mat-select>
                @if (compForm.controls.bank1.getError("noBank")) {
                <mat-error>{{errorMessage.noBank}}</mat-error>
                }
            </mat-form-field>
            <mat-form-field class="new-bill-field" appearance="outline">
                <mat-label>credit card</mat-label>
                <mat-select
                    (selectionChange)="toggleError('cc')"
                    formControlName="creditcard"
                >
                    <mat-option [value]="null">none</mat-option>
                    @for (cc of (ccs.creditCards$ | async); track cc) {
                    <mat-option [value]="cc">{{ cc.name }}</mat-option>
                    }
                </mat-select>
                @if (compForm.controls.creditcard.getError('noCC')) {
                <mat-error>{{errorMessage.noCC}}</mat-error>
                }
            </mat-form-field>
            <div class="new-bill-field">
                <mat-form-field class="number-input third" appearance="outline">
                    <mat-label>parcels</mat-label>
                    <input matInput type="number" formControlName="parcels" />
                    @if (compForm.controls.parcels.invalid) {
                    <mat-error>{{errorMessage.parcels}}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="number-input" appearance="outline">
                    <mat-label>delta</mat-label>
                    <input matInput type="number" formControlName="delta" />
                </mat-form-field>
                <mat-form-field class="number-input" appearance="outline">
                    <mat-label>taxes</mat-label>
                    <input matInput type="number" formControlName="taxes" />
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
