<div class="tab-container">
    <feedback-container
        *ngIf="(catState.categories$ | async)?.length === 0"
        [info]="(catState.status$ | async)!"
    ></feedback-container>
    <li *ngFor="let category of catState.categories$ | async">
        <div class="cat-item-list">
            <div class="cat-item-text">
                <p class="cat-title">{{category.name}}</p>
                <p class="cat-description">{{category.description}}</p>
            </div>
            <mat-icon
                class="icon-type"
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="{{category.icon}}"
            ></mat-icon>

            <button class="icon-button" mat-icon-button aria-label="color label">
                <mat-icon
                    class="icon-edit"
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="edit"
                ></mat-icon>
            </button>
        </div>
    </li>
</div>
