.profile-form {
    display: grid;
    grid-template-areas:
        "profile-name profile-name-input"
        "profile-name-description profile-name-input"
        "profile-surname profile-surname-input"
        "profile-surname-description profile-surname-input"
        "profile-username profile-username-input"
        "profile-username-description profile-username-input";
    grid-template-columns: 33% 67%;
    grid-template-rows: 10% 23% 10% 23% 10% 23%;

    & .profile-name {
        grid-area: profile-name;
    }

    & .profile-name-description {
        grid-area: profile-name-description;
    }

    & .profile-name-input {
        grid-area: profile-name-input;
        & .input {
            width: 66%;
        }
    }

    & .profile-surname {
        grid-area: profile-surname;
    }

    & .profile-surname-description {
        grid-area: profile-surname-description;
    }

    & .profile-surname-input {
        grid-area: profile-surname-input;
        & .input {
            width: 66%;
        }
    }

    & .profile-username {
        grid-area: profile-username;
    }

    & .profile-username-description {
        grid-area: profile-username-description;
    }

    & .profile-username-input {
        grid-area: profile-username-input;
        & .input {
            width: 66%;
        }
    }
}
