.creation-container {
    display: flex;
    flex-direction: column;
}

.creation-tabs {
    color: var(--background);
}

.creation-tab {
    background-color: var(--secondary);
    color: var(--title);
    margin: 10px;
    height: 100px;
}
.color-container {
    width: 10px;
    height: 40px;
    position: relative;
    right: -45px;
    top: 0px;
    margin-left: auto;
}

.button-container {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 20px auto;
    height: auto;
}

.title {
    font-weight: bold;
    font-size: 22px;
    color: var(--title);
    width: 50%;
    margin: auto 10px auto 0px;
}

.description {
    font-weight: normal;
    font-size: 14px;
    color: var(--description);
    margin: auto 0px;
    width: 50%;
}
