$text2: var(--text-2);
$text1: var(--text-1);
$custom-primary: var(--primary);
$custom-secondary: var(--secondary);
$custom-warn: var(--error);

$custom-brand-primary: (
    50: var(--primary),
    100: var(--primary),
    200: var(--primary),
    300: var(--primary),
    400: var(--primary),
    500: var(--primary),
    600: var(--primary),
    700: var(--primary),
    800: var(--primary),
    900: var(--primary),
    contrast: (
        50: $text2,
        100: $text2,
        200: $text2,
        300: $text2,
        400: $text2,
        500: $text2,
        600: $text2,
        700: $text2,
        800: $text2,
        900: $text2,
    ),
);

$custom-brand-secondary: (
    50: var(--secondary),
    100: var(--secondary),
    200: var(--secondary),
    300: var(--secondary),
    400: var(--secondary),
    500: var(--secondary),
    600: var(--secondary),
    700: var(--secondary),
    800: var(--secondary),
    900: var(--secondary),
    contrast: (
        50: $text2,
        100: $text2,
        200: $text2,
        300: $text2,
        400: $text2,
        500: $text2,
        600: $text2,
        700: $text2,
        800: $text2,
        900: $text2,
    ),
);

$custom-brand-warn: (
    50: var(--error),
    100: var(--error),
    200: var(--error),
    300: var(--error),
    400: var(--error),
    500: var(--error),
    600: var(--error),
    700: var(--error),
    800: var(--error),
    900: var(--error),
    contrast: (
        50: $text1,
        100: $text1,
        200: $text1,
        300: $text1,
        400: $text1,
        500: $text1,
        600: $text1,
        700: $text1,
        800: $text1,
        900: $text1,
    ),
);

$custom-brand-black: (
    50: #757575,
    100: #555555,
    200: #444444,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    contrast: (
        50: $text2,
        100: $text2,
        200: $text2,
        300: $text2,
        400: $text2,
        500: $text2,
        600: $text2,
        700: $text2,
        800: $text2,
        900: $text2,
    ),
);

$custom-brand-white: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #dfdfdf,
    800: #cacaca,
    900: #aaaaaa,
    contrast: (
        50: $text2,
        100: $text2,
        200: $text2,
        300: $text2,
        400: $text2,
        500: $text2,
        600: $text2,
        700: $text2,
        800: $text2,
        900: $text2,
    ),
);
