@use "@angular/material" as mat;
@include mat.core();

@import "./colors";

$app-primary: mat.define-palette($custom-brand-primary);
$app-secondary: mat.define-palette($custom-brand-secondary);
$app-warn: mat.define-palette($custom-brand-warn);
$app-black: mat.define-palette($custom-brand-black);
$app-white: mat.define-palette($custom-brand-white);

$app-light-theme: mat.define-light-theme(
    (
        color: (
            primary: $app-primary,
            accent: $app-secondary,
            warn: $app-warn,
            theme-type: light,
        ),
        typography: mat.define-typography-config(),
        density: 0,
    )
);
$app-dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: $app-primary,
            accent: $app-secondary,
            warn: $app-warn,
            theme-type: dark,
        ),
        typography: mat.define-typography-config(),
        density: 0,
    )
);
