<div class="header">
    <button class="header-menu" mat-icon-button aria-label="action company button">
        <mat-icon
            [ngClass]="{
                    'material-symbols-outlined': true,
                    'app-icon': true,
                }"
            aria-hidden="false"
            aria-label="Example menu icon"
            fontIcon="menu"
        ></mat-icon>
    </button>
    <mat-form-field
        [ngClass]="['header-search', screen?.page || '']"
        appearance="outline"
    >
        <mat-icon
            matPrefix
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="search"
        ></mat-icon>
        <input
            class="header-input"
            placeholder="search in the application"
            (input)="onTypeSearch($event)"
            [value]="search$ | async"
            maxlength="100"
            required
            matInput
            [matAutocomplete]="auto"
        />
        <mat-autocomplete
            id="header-autocomplete"
            class="header-autocomplete"
            [displayWith]="getOptionName"
            #auto="matAutocomplete"
        >
            @for (option of filteredOptions; track option) {
            <div class="sector" *ngIf="option.data.length > 0">
                <mat-icon class="material-symbols-outlined icon">{{
                    option.data[0] | sector : "icon"
                }}</mat-icon>
                <h5>{{ option.type }}</h5>
            </div>

            <mat-option
                *ngFor="let item of option.data"
                class="header-option"
                (onSelectionChange)="onSelect(item, $event)"
                [value]="item"
            >
                <div
                    [style.backgroundColor]="item.color || 'var(--bill)'"
                    [ngClass]="['indicator', item | sector]"
                ></div>
                <h5 class="name">
                    {{
                        item["name"] +
                            (item.parcels
                                ? " - " + (item.due | date : "mediumDate")
                                : "") +
                            (item.parcels && item.type !== "money"
                                ? " - parcel " + (item | bills : "parcels")
                                : "")
                    }}
                </h5>
                <p class="description">{{ item.description }}</p>
            </mat-option>
            }
        </mat-autocomplete>
        <mat-icon
            *ngIf="(search$ | async)?.length"
            (click)="onClearSearch()"
            matSuffix
            class="header-clear-search"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="close"
        ></mat-icon>
    </mat-form-field>
    <!-- TO DO  -->
    <!-- <div class="header-action">
        <button
            *ngFor="let action of screen?.actions"
            mat-button
            class="button-primary button"
            aria-label="action company button"
            (click)="openModal(action)"
        >
            <mat-icon
                *ngFor="let icon of action.icons"
                matPrefix
                aria-hidden="false"
                aria-label="Add icon"
                [fontIcon]="icon"
            ></mat-icon>
            <p>{{ action.title }}</p>
        </button>
    </div> -->
</div>
