<div class="header">
    <button class="header-menu" mat-icon-button aria-label="action company button">
        <mat-icon
            [ngClass]="{
                'material-symbols-outlined': true,
                'app-icon': true,
            }"
            aria-hidden="false"
            aria-label="Example menu icon"
            fontIcon="menu"
        ></mat-icon>
    </button>
    <mat-form-field
        [ngClass]="['header-search', screen?.page || '']"
        appearance="outline"
    >
        <mat-icon
            matPrefix
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="search"
        ></mat-icon>
        <input
            class="header-input"
            placeholder="press 'enter' to search in the application"
            (input)="onTypeSearch($event)"
            (keypress)="onSearch($event)"
            [value]="search$ | async"
            maxlength="100"
            required
            matInput
            [matAutocomplete]="auto"
            #autoCompleteInput="matAutocompleteTrigger"
        />
        <mat-autocomplete
            id="header-autocomplete"
            class="header-autocomplete"
            [displayWith]="getOptionName"
            #auto="matAutocomplete"
        >
            @for (section of sections; track section) {
                <div class="sector" *ngIf="searchSections[section].length > 0">
                    <mat-icon class="material-symbols-outlined icon">{{
                        searchSections[section][0] | sector: "icon"
                    }}</mat-icon>
                    <h5>{{ searchSections[section][0] | sector }}</h5>
                </div>

                <mat-option
                    *ngFor="let item of searchSections[section]"
                    class="header-option"
                    (onSelectionChange)="onSelect(item, $event)"
                    [value]="item"
                >
                    <div
                        [style.backgroundColor]="item | sector: 'color'"
                        [ngClass]="['indicator', item | sector]"
                    ></div>
                    <h5 class="name">
                        {{ item.title }}
                    </h5>
                    <p class="description">{{ item.description }}</p>
                    <p class="value">{{ item.value | currency: "R$ " }}</p>
                </mat-option>
            }
        </mat-autocomplete>
        <mat-icon
            *ngIf="(search$ | async)?.length"
            (click)="onClearSearch()"
            matSuffix
            class="header-clear-search"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="close"
        ></mat-icon>
    </mat-form-field>
</div>
