<div class="calendar">
    <div class="calendar-weekdays">
        <div
            [ngClass]="{
                weekday: true,
                workday: !(weekday.order === 0 || weekday.order === 6),
                dayoff: weekday.order === 0 || weekday.order === 6,
                binary: (generalState.theme$ | async) === 'binary'
            }"
            *ngFor="let weekday of weekdays"
        >
            {{ weekday.short }}
        </div>
    </div>
    <div class="calendar-dates">
        <div
            *ngFor="let date of dates"
            [ngClass]="{
                date: true,
                'this-month': date.thisMonth,
                today: date.day === today,
                'last-month': !date.thisMonth,
                bills: date.events.length > 0
            }"
            (click)="onDateClick(date)"
            [matTooltip]="date.events.length > 0 ? date.events.length + ' bills' : ''"
            [matTooltipPosition]="'above'"
        >
            <p>
                {{ date.day }}
            </p>
            <mat-icon
                *ngIf="date.events.length > 0"
                class="material-symbols-outlined icon"
                [fontIcon]="
                    date.events.length <= 9
                        ? 'filter_' + date.events.length
                        : 'filter_9_plus'
                "
            ></mat-icon>
        </div>
    </div>
</div>
