.modal-profile-backdrop {
  display: flex;
  position: absolute;
  z-index: 100;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  left: 0px;
}

.modal-profile-body {
  z-index: 110;
  height: 400px;
  width: 400px;
  background-color: black;
  position: absolute;
  border-radius: 10px;
}

.header-profile-modal {
  width: 400px;
  text-align: center;
  margin-top: 20px;
  height: 40px;
}

.profile-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 70px);
}

.profile-username {
  width: 80%;
  height: 30px;
  color: white;
  background-color: rgb(35, 35, 35);
  border-color: rgb(35, 35, 35);
  margin: auto;
  padding: 10px 20px;
}

.profile-username:focus {
  outline: none;
}

.button-enter {
  background-color: blueviolet;
}

.text-label {
  margin: auto auto 10px;
  font: normal 14px Roboto;
}

.text-name {
  margin: 10px auto auto;
  font: normal 18px Roboto;
}

.button-container {
  width: 120px;
  height: 40px;
  background-color: blueviolet;
  border-radius: 10px;
  cursor: pointer;
  margin: auto;
  display: flex;
}

.button-text {
  font: normal 20px Roboto;
  margin: auto;
  color: white;
}
