<modal-component
    (actionPrimary)="onActionPrimary()"
    (actionSecondary)="onActionSecondary()"
    [bodyTemplate]="(userState.user$ | async) !== null ? loggedBody : profileBody"
></modal-component>

<ng-template #profileBody>
    <div class="profile-body">
        <mat-form-field appearance="outline">
            <mat-label>username</mat-label>
            <input matInput [(ngModel)]="username" />
        </mat-form-field>
    </div>
</ng-template>

<ng-template #loggedBody>
    <div class="profile-body">
        <p>usuário conectado:</p>
        <p>{{(userState.user$ | async)?.name}}</p>
    </div>
</ng-template>
