<modal-component
    header="change password"
    [disabled]="passwordForm.invalid"
    (actionPrimary)="onSubmit()"
    (actionSecondary)="handleClose()"
    [bodyTemplate]="changePassword"
></modal-component>

<ng-template #changePassword>
    <form [formGroup]="passwordForm">
        <mat-form-field class="field" appearance="outline">
            <mat-label>new password</mat-label>
            <input maxlength="30" required matInput formControlName="newPassword" />
            @if (passwordForm.controls['newPassword'].errors?.["required"]) {
            <mat-error>{{errorMessage.invalidPassword}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="field" appearance="outline">
            <mat-label>confirm new password</mat-label>
            <input maxlength="30" required matInput formControlName="confirmPassword" />
            @if (passwordForm.get('newPassword')!.value !==
            passwordForm.get('confirmPassword')!.value) {
            <mat-error>{{errorMessage.passwordsDontMatch}}</mat-error>
            }
        </mat-form-field>
    </form>
</ng-template>
