<modal-component
    header="change password"
    [disabled]="passwordForm.dirty && passwordForm.invalid"
    (actionPrimary)="onSubmit()"
    (actionSecondary)="handleClose()"
    [bodyTemplate]="changePassword"
></modal-component>

<ng-template #changePassword>
    <form [formGroup]="passwordForm">
        <mat-form-field class="field" appearance="outline">
            <mat-label>current pasword</mat-label>
            <input maxlength="20" required matInput formControlName="currentPassword" />
            @if (passwordForm.controls.currentPassword.errors?.["required"]) {
            <mat-error>{{errorMessage.invalidPassword}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="new-bank-field" appearance="outline">
            <mat-label>new password</mat-label>
            <input maxlength="2" required matInput formControlName="newPassword" />
            @if (passwordForm.controls.newPassword.errors?.["required"]) {
            <mat-error>{{errorMessage.invalidPassword}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="new-bank-field" appearance="outline">
            <mat-label>confirm new password</mat-label>
            <input maxlength="20" required matInput formControlName="confirmPassword" />
            @if (passwordForm.controls.confirmPassword.errors?.["required"]) {
            <mat-error>{{errorMessage.passwordsDontMatch}}</mat-error>
            }
        </mat-form-field>
    </form>
</ng-template>
