.home {
    width: 95%;
}

.home-container {
    display: grid;
    grid-template-areas:
        "home-date home-total-expenses home-total-expenses home-bill-quantity home-recents home-recents"
        "home-savings home-savings home-credit-card home-credit-card home-recents home-recents";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 250px);
    width: 100%;
    row-gap: 1rem;
    column-gap: 1rem;
    @media screen and (max-width: 1400px) {
        grid-template-areas:
            "home-date home-total-expenses home-total-expenses home-bill-quantity"
            "home-savings home-savings home-credit-card home-credit-card"
            "home-recents home-recents home-recents home-recents"
            "home-recents home-recents home-recents home-recents";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 250px);
    }
    @media screen and (max-width: 1150px) {
        grid-template-areas:
            "home-date home-date home-bill-quantity home-bill-quantity"
            "home-total-expenses home-total-expenses home-total-expenses home-total-expenses"
            "home-savings home-savings home-savings home-savings"
            "home-credit-card home-credit-card home-credit-card home-credit-card"
            "home-recents home-recents home-recents home-recents"
            "home-recents home-recents home-recents home-recents";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(6, 250px);
    }
}

.home-date {
    grid-area: home-date;
    width: 100%;
    height: 100%;
    text-align: center;
    & h1 {
        font-size: 4rem;
        text-align: end;
    }
    & p {
        text-align: end;
    }
}

.home-total-expenses {
    grid-area: home-total-expenses;
    & .total {
        display: flex;
        flex-direction: column;
        height: 100%;
        & .row {
            display: flex;
            flex-direction: row;
        }
        & .data {
            display: flex;
            flex-direction: column;
            margin: 10px auto auto 0px;
        }
        & .icon {
            font-size: 3rem;
            height: 3rem;
            width: 3rem;
            margin: auto;
        }
        & h1,
        h2 {
            color: var(--error);
        }
    }
}

.home-recents {
    grid-area: home-recents;
    & .list-item {
        cursor: pointer;
        display: grid;
        grid-template-areas: "category name name parcel" "category type updated-at updated-at";
        grid-template-columns: 40px 2fr 0.5fr 1.5fr;
        column-gap: 0.5rem;
        row-gap: 0.25rem;
        margin-bottom: 1rem;
        & .name {
            grid-area: name;
            color: var(--text-1);
        }
        & .category {
            grid-area: category;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--border-radius);
            border-width: var(--border-width);
            border-style: solid;
            background-color: var(--primary);
            width: 40px;
            height: 40px;
            & .icon {
                color: var(--text-3);
            }
        }
        & .type {
            grid-area: type;
            text-align: left;
        }
        & .parcel {
            grid-area: parcel;
            text-align: end;
            font-weight: bold;
        }
        & .updated-at {
            grid-area: updated-at;
            text-align: end;
            font-size: 0.75rem;
            margin: auto 0px;
        }
    }
}

.home-savings {
    grid-area: home-savings;
    & .total {
        display: flex;
        flex-direction: column;
        height: 100%;
        & .row {
            display: flex;
            flex-direction: row;
        }
        & .data {
            display: flex;
            flex-direction: column;
            margin: 10px auto auto 0px;
        }
        & .icon {
            font-size: 3rem;
            height: 3rem;
            width: 3rem;
            margin: auto;
        }
        & h1,
        h2 {
            color: var(--info);
            font-size: 2rem;
        }
    }
}

.home-credit-card {
    grid-area: home-credit-card;
    & .total {
        display: flex;
        flex-direction: row;
        height: 100%;
        & .row {
            display: flex;
            flex-direction: row;
        }
        & .data {
            margin: auto auto auto 0px;
        }
        & .icon {
            font-size: 3rem;
            height: 3rem;
            width: 3rem;
            margin: auto;
        }
        & h1 {
            color: var(--error);
            font-size: 2rem;
        }
    }
}

.home-delta {
    display: flex;
    align-items: center;
    height: fit-content;
    border-radius: var(--border-radius);
    margin: auto 0px auto auto;
    padding: 0.4rem;
    & .icon-trending {
        color: var(--text-3);
        font-size: 1rem;
        height: 1rem;
        width: 1rem;
    }
    p {
        font-size: 0.75rem;
    }
    &.green {
        border: var(--border-width) solid var(--success);
        & p {
            color: var(--success);
        }
        & .icon-trending {
            color: var(--success);
        }
    }
    &.red {
        border: var(--border-width) solid var(--error-lighter);
        & p {
            color: var(--error);
        }
        & .icon-trending {
            color: var(--error);
        }
    }
}

.home-bill-quantity {
    grid-area: home-bill-quantity;
    & .container {
        display: grid;
        grid-template-areas: "icon-container day" "icon-container label";
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        & .icon {
            font-size: 3rem;
            height: 3rem;
            width: 3rem;
            margin: auto;
        }
        & .day {
            grid-area: day;
            font-size: 5rem;
            margin: auto 0px 0px auto;
        }
        & .label {
            grid-area: label;
            margin: 0px 0px auto auto;
        }
    }
}

.icon-container {
    width: max-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    border-radius: var(--border-radius);
    background-color: var(--primary);
    margin: auto 2rem auto 0px;
    & .icon {
        color: var(--text-3);
    }
}
