<div class="button-container">
    <button
        *ngIf="onEdit.observed"
        (click)="onEdit.emit()"
        matTooltip="edit"
        matTooltipPosition="above"
        class="icon-button"
        mat-icon-button
        aria-label="edit company button"
    >
        <mat-icon
            class="icon-edit"
            aria-hidden="false"
            aria-label="pen icon"
            fontIcon="edit"
        ></mat-icon>
    </button>
    <button
        *ngIf="onDelete.observed"
        (click)="onDelete.emit()"
        matTooltip="delete"
        matTooltipPosition="above"
        [ngClass]="['icon-button', 'left']"
        mat-icon-button
        aria-label="delete company button"
    >
        <mat-icon
            class="icon-edit"
            aria-hidden="false"
            aria-label="trash bin icon"
            fontIcon="delete"
        ></mat-icon>
    </button>
    <button
        *ngIf="onView.observed"
        (click)="onView.emit()"
        matTooltip="delete"
        matTooltipPosition="above"
        [ngClass]="['icon-button', 'left']"
        mat-icon-button
        aria-label="delete company button"
    >
        <mat-icon
            class="icon-edit"
            aria-hidden="false"
            aria-label="trash bin icon"
            fontIcon="delete"
        ></mat-icon>
    </button>
</div>
