.form-container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
        padding: 10px 0px 20px;
        color: var(--text-1);
    }
}

.new-bill-field {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.app-icon {
    color: var(--primary);
    height: auto;
    font-size: 30px;
    cursor: pointer;
    &.arrow {
        margin: 12px auto 0px;
    }
}

.half {
    width: 40%;
}

.third {
    width: 31%;
}
