<modal-component
    [disabled]="onDisableButton()"
    header="new bill"
    (actionPrimary)="step !== 4 ? onNextStep() : onSubmit()"
    (actionSecondary)="step !== 1 ? onPreviousStep() : handleClose()"
    [bodyTemplate]="newBill"
></modal-component>

<ng-template #newBill>
    <form [formGroup]="billForm">
        <ng-container *ngIf="step === 1">
            <type-template
                [type]="billForm.get('type')!.value"
                (setType)="setType($event)"
            />
        </ng-container>
        <ng-container *ngIf="step === 2">
            <info-template
                [type]="billForm.get('type')!.value"
                [nameControl]="billForm.controls['name']"
                [descriptionControl]="billForm.controls['description']"
                [totalControl]="billForm.controls['total']"
                [categoryControl]="billForm.controls['categoryId']"
            />
        </ng-container>
        <ng-container *ngIf="step === 3 && billForm.value.type === 'money'">
            <template-banks
                [bank1Control]="billForm.controls['bank1Id']"
                [bank2Control]="billForm.controls['bank2Id']"
                [isPaymentControl]="billForm.controls['isPayment']"
                [companyControl]="billForm.controls['companyId']"
            />
        </ng-container>
        <ng-container *ngIf="step === 3 && billForm.value.type === 'companyCredit'">
            <template-companies
                [companyControl]="billForm.controls['companyId']"
                [bank1Control]="billForm.controls['bank1Id']"
                [totalParcelControl]="billForm.controls['totalParcel']"
                [creditcardControl]="billForm.controls['creditCardId']"
                [taxesControl]="billForm.controls['taxes']"
                [parcelsControl]="billForm.controls['parcels']"
                [deltaControl]="billForm.controls['delta']"
            />
        </ng-container>
        <ng-container *ngIf="step === 3 && billForm.value.type === 'creditCard'">
            <template-credit-card
                [creditcardControl]="billForm.controls['creditCardId']"
                [companyControl]="billForm.controls['companyId']"
                [taxesControl]="billForm.controls['taxes']"
                [parcelsControl]="billForm.controls['parcels']"
                [deltaControl]="billForm.controls['delta']"
            />
        </ng-container>
        <ng-container *ngIf="step === 4">
            <template-config
                [type]="billForm.get('type')!.value"
                [isPaymentControl]="billForm.controls['isPayment']"
                [isRecurrentControl]="billForm.controls['isRecurrent']"
                [settledControl]="billForm.controls['settled']"
                [dueControl]="billForm.controls['due']"
                [paidControl]="billForm.controls['paid']"
            />
        </ng-container>
    </form>
</ng-template>
