<div class="modal-content">
    <h3 class="step-title">credit card info</h3>
    <p class="step-desc">credit card selection and bill values</p>
    <mat-form-field class="new-bill-field" appearance="outline">
        <mat-label>credit card</mat-label>
        <mat-select [formControl]="creditcardControl" ngDefaultControl>
            <mat-option
                *ngIf="(creditCards.creditCards$ | async)!.length === 0"
                [disabled]="true"
                >no credit cards</mat-option
            >
            @for (c of (creditCards.creditCards$ | async); track c) {
            <mat-option [value]="c.id">{{ c.name }}</mat-option>
            }
        </mat-select>
        @if (creditcardControl.invalid) {
        <mat-error>{{errorMessage.creditCard}}</mat-error>
        }
    </mat-form-field>
    <mat-form-field
        *ngIf="(companies.company$ | async)!.length > 0"
        class="new-bill-field"
        appearance="outline"
    >
        <mat-label>company</mat-label>
        <mat-select [formControl]="companyControl" ngDefaultControl>
            <mat-option
                *ngIf="(companies.company$ | async)!.length === 0"
                [disabled]="true"
                >no companies</mat-option
            >
            <mat-option *ngIf="(companies.company$ | async)!.length > 0" [value]="null"
                >none</mat-option
            >
            @for (c of (companies.company$ | async); track c) {
            <mat-option [value]="c.id">{{ c.name }}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <div class="new-bill-field">
        <mat-form-field
            [formControl]="parcelsControl"
            ngDefaultControl
            class="third"
            appearance="outline"
        >
            <mat-label>parcels</mat-label>
            <input
                [value]="parcelsControl.value"
                matInput
                type="number"
                formControlName="parcels"
            />
            @if (parcelsControl.invalid) {
            <mat-error>{{errorMessage.parcels}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field
            [formControl]="deltaControl"
            ngDefaultControl
            class="third"
            appearance="outline"
        >
            <mat-label>delta</mat-label>
            <input
                [value]="deltaControl.value"
                matInput
                type="number"
                formControlName="delta"
            />
        </mat-form-field>
        <mat-form-field
            [formControl]="taxesControl"
            ngDefaultControl
            class="third"
            appearance="outline"
        >
            <mat-label>taxes</mat-label>
            <input
                [value]="taxesControl.value"
                matInput
                type="number"
                formControlName="taxes"
            />
        </mat-form-field>
    </div>
</div>
