.snackbar-container {
    display: flex;
    flex-direction: row;
    width: max-content;
    padding: 10px 30px;

    & .error {
        background-color: var(--error);
        color: white;
    }

    & .warning {
        background-color: var(--warning);
        color: white;
    }

    & .success {
        background-color: var(--success);
        color: white;
    }

    & .info {
        background-color: var(--info);
        color: white;
    }

    & .default {
        background-color: var(--default);
        color: white;
    }
}
