<div
    *ngIf="page !== '/'"
    [ngClass]="{
        'item-container': true,
        'item-selected': item.page === (generalState.page$ | async),
        top: item.page === '/settings'
    }"
    [style.borderColor]="
        'binary' === (generalState.theme$ | async) ? text1Color : 'transparent'
    "
    (click)="onClickItem(page)"
>
    <mat-icon
        [ngClass]="{
            'item-icon': true,
            'material-symbols-outlined': item.page !== (generalState.page$ | async),
            'item-selected': item.page === (generalState.page$ | async),
        }"
        aria-hidden="false"
        aria-label="Example home icon"
        [fontIcon]="icon"
    ></mat-icon>
    <span
        [ngClass]="{
            'item-title': true,
            'item-selected': item.page === (generalState.page$ | async),
        }"
        >{{ title }}</span
    >
</div>
