<div
    *ngIf="page !== '/'"
    [ngClass]="{
        'item-container': true,
        'item-selected': page === actualPage,
        top: '/settings' === page
    }"
    [style.backgroundColor]="
        page !== actualPage || !isLineThemed ? 'transparent' : secColor
    "
    [style.borderColor]="page === actualPage ? secColor : 'transparent'"
    (click)="onClickItem(page)"
>
    <mat-icon
        [ngClass]="{
            'material-symbols-outlined': page !== actualPage,
            'item-icon': true,
            'icon-route': page !== actualPage && isLineThemed
        }"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="{{ icon }}"
    ></mat-icon>
    <span
        [ngClass]="{
            'item-title': true,
            'background-color': isLineThemed
        }"
        >{{ title }}</span
    >
</div>
