<div class="bills">
    <div class="page-header">
        <h1 [style.marginBottom]="'0px'">bills</h1>
        <div class="bill-header">
            <button (click)="openModal()" class="button-primary extended" mat-button>
                <div>
                    <mat-icon class="material-symbols-outlined">add</mat-icon>
                    <mat-icon class="material-symbols-outlined">receipt_long</mat-icon>
                </div>
                <p>new bill</p>
            </button>
            <pagination-template
                class="bill-pagination"
                [style.margin]="'auto 0px auto 1rem'"
            ></pagination-template>
        </div>
    </div>
    <div [ngClass]="['bill-container', generalState.billsLayout$ | async]">
        <div class="bill-list-container">
            <feedback-container
                [style.width]="'100%'"
                *ngIf="(billState.bills$| async)?.length === 0"
                [info]="(billState.status$ | async)!"
            ></feedback-container>
            <div
                [ngClass]="['bill-list', generalState.billsLayout$ | async]"
                *ngIf="(billState.bills$| async)!.length > 0"
            >
                <ng-template
                    ngFor
                    let-item
                    [ngForOf]="(billState.bills$ | async)"
                    let-i="index"
                    [ngForTrackBy]="trackByFn"
                >
                    <div
                        [ngClass]="['bill-container-item', 'bill-item', isLineTheme, generalState.billsLayout$ | async]"
                        (click)="openDetails(item, $event)"
                    >
                        <h6 class="title">{{ item.name }}</h6>
                        <p class="description">{{ item.description }}</p>
                        <bank-list-template
                            *ngIf="item.type === 'money'"
                            [data]="item"
                        ></bank-list-template>
                        <credit-card-list-template
                            *ngIf="item.type === 'creditCard'"
                            [data]="item"
                        ></credit-card-list-template>
                        <service-list-template
                            *ngIf="item.type === 'companyCredit'"
                            [data]="item"
                        ></service-list-template>
                        <div
                            [ngClass]="['date-container', 'tag', getDateStatus(item), isLineTheme]"
                        >
                            <mat-icon
                                class="material-symbols-outlined date-icon"
                                aria-hidden="false"
                                aria-label="icon"
                                fontIcon="event"
                            ></mat-icon>
                            <p>
                                {{(item.settled ? item.paid : item.due) | date:
                                "mediumDate"}}
                            </p>
                        </div>
                        <div class="value-container">
                            <div class="parcel">
                                <p>{{ item.type === 'money' ? '$' : item.parcel + 1 }}</p>
                            </div>
                            <h6 class="value">
                                {{(item.type === 'money' ? item.total : item.totalParcel)
                                | currency: "R$ "}}
                            </h6>
                        </div>
                        <actions
                            class="bill-buttons"
                            [transparent]="false"
                            [data]="item"
                            [actions]="actions"
                        ></actions>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <aside class="bill-aside">
        <div class="bill-infos">
            <card-component [hideHeader]="true" class="count">
                <div class="column">
                    <div class="column">
                        <h5>{{ (billState.billsPagination$ | async)!.count }}</h5>
                        <p>bills</p>
                    </div>
                    <div class="row">
                        <mat-icon class="material-symbols-outlined red"
                            >arrow_circle_down</mat-icon
                        >
                        <p>{{ ((billState.billsMetadata$ | async)!.outcomeCount) }}</p>
                        <mat-icon class="material-symbols-outlined green"
                            >arrow_circle_up</mat-icon
                        >
                        <p>{{ (billState.billsMetadata$ | async)!.incomeCount }}</p>
                    </div>
                </div>
            </card-component>
            <card-component [hideHeader]="true" class="total">
                <div class="column">
                    <div class="row">
                        <mat-icon class="material-symbols-outlined red"
                            >arrow_circle_up</mat-icon
                        >
                        <div class="column">
                            <h5>
                                {{ (billState.billsMetadata$ | async)!.outcomeTotal |
                                currency : 'R$ ' }}
                            </h5>
                            <p>total outcome</p>
                        </div>
                    </div>
                    <div class="row">
                        <mat-icon class="material-symbols-outlined green"
                            >arrow_circle_down</mat-icon
                        >
                        <div class="column">
                            <h5>
                                {{ (billState.billsMetadata$ | async)!.incomeTotal |
                                currency : 'R$ ' }}
                            </h5>
                            <p>total income</p>
                        </div>
                    </div>
                </div>
            </card-component>
        </div>
        <custom-filter></custom-filter>
    </aside>
</div>
