.bills {
    display: grid;
    grid-template-areas: "page-header bill-aside" "bill-container bill-aside";
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 1fr 9fr;
    column-gap: 1rem;
    height: calc(100vh - 110px);
}

.page-header .bill-header {
    display: flex;
    width: 100%;
}

.bill-pagination {
    grid-area: bill-pagination;
}

.bill-pins {
    margin: auto 0px auto auto;
}

.bill-container {
    grid-area: bill-container;
    width: 100%;
}

.bill-list-container {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    height: 63vh;
    gap: 1.5rem;
}

.bill-list {
    width: 100%;
    &.list {
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(1, 100%);
        row-gap: 0.5rem;
    }
    &.grid {
        display: grid;
        grid-template-columns: repeat(3, 32%);
        grid-template-rows: max-content;
        gap: 2%;
        row-gap: 20px;
    }
}

.bill-item {
    width: 100%;
    height: fit-content;
    background-color: var(--bh);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border-color);
}

.bill-color-container {
    width: 0;
    height: 0;
    position: absolute;
    left: 2px;
    top: -4px;
    rotate: 45deg;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid transparent;
    box-shadow: 2px 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.bill-aside {
    grid-area: bill-aside;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.bill-infos {
    display: inline-flex;
    gap: 1rem;
    & .total {
        width: calc(65% - 0.5rem);
        height: max-content;
        & mat-icon {
            margin: auto 10px auto 0px;

            &.red {
                color: var(--error);
            }
            &.green {
                color: var(--success);
            }
        }
    }
    & .count {
        display: flex;
        flex-direction: column;
        width: calc(35% - 0.5rem);
        height: 100%;
        & .row {
            display: flex;
            flex-direction: row;
            margin: 0.25rem 0rem 0rem -0.2rem;
            gap: 0.22rem;
            & mat-icon {
                width: 1rem;
                height: 1rem;
                font-size: 1rem;
                &.red {
                    color: var(--error);
                }
                &.green {
                    color: var(--success);
                }
            }
        }
    }
}

.bill-container-item {
    display: grid;
    padding: 0.75rem;
    cursor: pointer;
    &.list {
        grid-template-areas: "title description bill-tags date-container value-container bill-buttons";
        grid-template-rows: repeat(1, max-content);
        grid-template-columns: 15% 23% 27% 13% 12% 10%;
        column-gap: 4px;
        padding: 0.5rem 1rem;
        @media screen and (max-width: 1500px) {
            grid-template-areas:
                "title title bill-tags bill-tags"
                "description description bill-tags bill-tags"
                "value-container value-container date-container bill-buttons";
            grid-template-columns: 30% 25% 23% 22%;
            grid-template-rows: repeat(3, max-content);
        }
        @media screen and (max-width: 1200px) {
            grid-template-areas:
                "date-container date-container bill-buttons bill-buttons"
                "title title title title"
                "description description description description"
                "bill-tags bill-tags bill-tags bill-tags"
                "value-container value-container value-container value-container";
            grid-template-rows: repeat(5, max-content);
            grid-template-columns: 1.5fr 1fr 1fr 1fr;
        }
    }
    &.grid {
        width: 100%;
        grid-template-areas:
            "date-container date-container bill-buttons bill-buttons"
            "title title title title"
            "description description description description"
            "bill-tags bill-tags bill-tags bill-tags"
            "value-container value-container value-container value-container";
        grid-template-rows: repeat(5, max-content);
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
        row-gap: 4px;
        @media screen and (max-width: 1500px) {
            grid-template-areas:
                "date-container"
                "title"
                "description"
                "bill-tags"
                "value-container"
                "bill-buttons";
            grid-template-rows: repeat(6, auto);
            grid-template-columns: 100%;
        }
    }
}

.date-container {
    grid-area: date-container;
    width: max-content;
    mat-icon {
        font-size: 1.5rem !important;
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
}

.value-container {
    grid-area: value-container;
    display: flex;
    align-items: center;
    margin: auto 0px;
    & .parcel {
        border: 2px solid var(--text-1);
        border-radius: var(--border-radius);
        height: 25px;
        padding: 0rem 0.5rem;
        display: flex;
        & p {
            margin: auto;
            color: var(--text-1);
            font-weight: bold;
        }
        & h5 {
            color: var(--text-2);
        }
    }
    & .value {
        margin-left: 10px;
        color: var(--text-1);
        font-weight: bold;
    }
}

.flow-container {
    grid-area: flow-container;
    height: 35px;
    mat-icon {
        font-size: 1.5rem !important;
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
}

.recurrent-container {
    display: none;
    grid-area: recurrent-container;
    height: 35px;
    &.recurrent {
        display: flex;
    }
    mat-icon {
        font-size: 1.5rem !important;
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
}

.type-container {
    grid-area: type-container;
    height: 35px;
    & .type-name {
        color: var(--text-1);
    }
}

.category-container {
    grid-area: category-category;
    height: 35px;
    & .category-name {
        margin: auto;
        color: var(--text-1);
    }
}

.bill-buttons {
    grid-area: bill-buttons;
    display: flex;
    margin: auto;
}

.title {
    font-weight: bold;
    grid-area: title;
    color: var(--text-1);
    margin: auto 0px;
}

.description {
    grid-area: description;
    color: var(--text-1);
    margin: auto 0px;
}

.bill-tags {
    grid-area: bill-tags;
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    margin: auto 0px;
}

.binary {
    & .category-container {
        background-color: transparent !important;
    }
}
