<div class="type-modal">
    <h1>main info</h1>
    <form [formGroup]="infoForm">
        <div class="form-container">
            <mat-form-field class="new-bill-field" appearance="outline">
                <mat-label>category</mat-label>
                <mat-select formControlName="category">
                    @for (cat of catState.categories$ | async; track $index) {
                    <mat-option [value]="cat" [value]="cat">{{cat.name}}</mat-option>
                    }
                </mat-select>
                @if (infoErrors.category?.["required"]) {
                <mat-error>{{errorMessage.category}}</mat-error>
                }
            </mat-form-field>
            <mat-form-field class="new-bill-field" appearance="outline">
                <mat-label>title</mat-label>
                <input formControlName="name" maxlength="100" required matInput />
                @if (infoErrors.name?.["required"]) {
                <mat-error>{{errorMessage.name}}</mat-error>
                }
            </mat-form-field>
            <mat-form-field class="new-bill-field" appearance="outline">
                <mat-label>description</mat-label>
                <input formControlName="description" maxlength="100" matInput />
                @if (infoErrors.description?.["required"]) {
                <mat-error>{{errorMessage.description}}</mat-error>
                }
            </mat-form-field>
            <mat-form-field class="new-bill-field" appearance="outline">
                <mat-label>bill value</mat-label>
                <input formControlName="total" matInput type="number" />
                @if (infoErrors.total !== null) {
                <mat-error>{{errorMessage.total}}</mat-error>
                }
            </mat-form-field>
        </div>
    </form>
</div>
