<modal-component
    size="lg"
    header="edit bill"
    [disabled]="billForm.invalid"
    (actionPrimary)="onSubmit()"
    (actionSecondary)="handleClose()"
    [bodyTemplate]="editBill"
></modal-component>

<ng-template #editBill>
    <form [formGroup]="billForm">
        <div class="new-bill-container">
            <!-- Payment type -->
            <mat-form-field class="new-bill-field" appearance="outline">
                <mat-label>payment type</mat-label>
                <mat-select #type formControlName="type">
                    <mat-option [value]="'money'">money</mat-option>
                    <mat-option [value]="'creditCard'">credit card</mat-option>
                    <mat-option [value]="'companyCredit'">company credit</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- Custom tabs -->
            <custom-tabs [tab]="0" [tabs]="billTabs" (getTab)="onChangeTab($event)" />
            <!-- Tab 1 -->
            <div *ngIf="tab === 0" class="main-container">
                <card-component [hideHeader]="true">
                    <div class="full">
                        <div class="new-bill-container-split">
                            <mat-form-field class="new-bill-field" appearance="outline">
                                <mat-label>name</mat-label>
                                <input
                                    maxlength="100"
                                    required
                                    matInput
                                    formControlName="name"
                                />
                                @if (billForm.controls.name.errors?.["required"]) {
                                <mat-error>{{errorMessage.name}}</mat-error>
                                }
                            </mat-form-field>
                            <mat-form-field class="new-bill-field" appearance="outline">
                                <mat-label>description</mat-label>
                                <input
                                    maxlength="100"
                                    matInput
                                    formControlName="description"
                                />
                                @if (billForm.controls.description.errors?.["required"]) {
                                <mat-error>{{errorMessage.description}}</mat-error>
                                }
                            </mat-form-field>
                        </div>
                        <div class="new-bill-container-split">
                            <mat-form-field class="new-bill-field" appearance="outline">
                                <mat-label>category</mat-label>
                                <mat-select formControlName="categoryId">
                                    @for (cat of categoryState.categories$ | async; track
                                    $index) {
                                    <mat-option [value]="cat.id">{{cat.name}}</mat-option>
                                    }
                                </mat-select>
                                @if (billForm.controls.categoryId.errors?.["required"]) {
                                <mat-error>{{errorMessage.name}}</mat-error>
                                }
                            </mat-form-field>
                            <mat-form-field class="new-bill-field" appearance="outline">
                                <mat-label>total value</mat-label>
                                <input matInput type="number" formControlName="total" />
                                @if (billForm.controls.total.invalid) {
                                <mat-error>{{errorMessage.total}}</mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </div>
                </card-component>
            </div>
            <!-- Tab 3 -->
            <div *ngIf="tab === 2" class="main-container">
                <card-component [hideHeader]="true">
                    <div class="full">
                        <div class="new-bill-container-split">
                            <div class="new-bill-toggle new-bill-field">
                                <p [ngClass]="['label', data.settled ? 'disabled'  : '']">
                                    payment processed?
                                </p>
                                <toggle-button
                                    [items]="booleanForm"
                                    [formController]="billForm.controls['settled']"
                                    [disabled]="data.settled"
                                />
                            </div>
                            <div
                                class="new-bill-toggle new-bill-field"
                                *ngIf="data.type === 'money'"
                            >
                                <p [ngClass]="['label', data.settled ? 'disabled'  : '']">
                                    money flow
                                </p>
                                <toggle-button
                                    [items]="moneyFlowForm"
                                    [formController]="billForm.controls['isPayment']"
                                    [disabled]="data.settled"
                                />
                            </div>
                            <div
                                class="new-bill-toggle new-bill-field"
                                *ngIf="data.type === 'money'"
                            >
                                <p [ngClass]="['label', data.settled ? 'disabled'  : '']">
                                    is recurrent
                                </p>
                                <toggle-button
                                    [items]="booleanForm"
                                    [formController]="billForm.controls['isRecurrent']"
                                    [disabled]="data.settled"
                                />
                            </div>
                        </div>
                        <div class="new-bill-container-split">
                            <ng-container *ngIf="billForm.value.settled">
                                <mat-form-field
                                    class="savings-input new-bill-field"
                                    appearance="outline"
                                >
                                    <mat-label>date of payment</mat-label>
                                    <input
                                        [matDatepicker]="picker1"
                                        matInput
                                        formControlName="paid"
                                    />
                                    <mat-hint
                                        [ngClass]="['label', data.settled ? 'disabled'  : '']"
                                        >MM/DD/YYYY</mat-hint
                                    >
                                    <mat-datepicker-toggle
                                        matIconSuffix
                                        [for]="picker1"
                                    ></mat-datepicker-toggle>
                                    <mat-datepicker
                                        #picker1
                                    ></mat-datepicker> </mat-form-field
                            ></ng-container>
                            <mat-form-field
                                class="savings-input new-bill-field"
                                appearance="outline"
                            >
                                <mat-label>date due</mat-label>
                                <input
                                    [matDatepicker]="picker2"
                                    matInput
                                    formControlName="due"
                                />
                                <mat-hint
                                    [ngClass]="['label', data.settled ? 'disabled'  : '']"
                                    >MM/DD/YYYY</mat-hint
                                >
                                <mat-datepicker-toggle
                                    matIconSuffix
                                    [for]="picker2"
                                ></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </card-component>
            </div>
        </div>
    </form>
    <div [ngClass]="['main-container', 'type-container', tab === 1 ? 'selected' : '']">
        <card-component
            [style.width]="'100%'"
            class="card"
            *ngIf="type.value ==='money'"
            [hideHeader]="true"
        >
            <template-edit-banks
                [style.width]="'100%'"
                [companyIdControl]="billForm.controls['companyId']"
                [bank1IdControl]="billForm.controls['bank1Id']"
                [bank2IdControl]="billForm.controls['bank2Id']"
                [bill]="data"
            ></template-edit-banks
        ></card-component>
        <card-component
            [style.width]="'100%'"
            *ngIf="type.value ==='companyCredit'"
            [hideHeader]="true"
        >
            <template-edit-companies
                [style.width]="'100%'"
                [companyIdControl]="billForm.controls['companyId']"
                [bank1IdControl]="billForm.controls['bank1Id']"
                [creditCardIdControl]="billForm.controls['creditCardId']"
                [parcelsControl]="billForm.controls['parcels']"
                [deltaControl]="billForm.controls['delta']"
                [taxesControl]="billForm.controls['taxes']"
                [bill]="data"
            ></template-edit-companies>
        </card-component>
        <card-component
            [style.width]="'100%'"
            *ngIf="type.value ==='creditCard'"
            [hideHeader]="true"
        >
            <template-edit-credit-card
                [creditCardIdControl]="billForm.controls['creditCardId']"
                [companyIdControl]="billForm.controls['companyId']"
                [parcelsControl]="billForm.controls['parcels']"
                [deltaControl]="billForm.controls['delta']"
                [taxesControl]="billForm.controls['taxes']"
            ></template-edit-credit-card
        ></card-component>
    </div>
    <p class="disclaimer" *ngIf="data.settled">
        some fields are disabled due to the bill settled
    </p>
</ng-template>
