.mat-mdc-standard-chip {
    border-radius: 10px !important;
    /* border: solid 1px #ffffff; */
    & .mdc-evolution-chip__text-label {
        font-size: var(--input-font) !important;
        & .typebill.creditcard {
            color: #ffffff !important;
        }
    }
    &.category {
        &.binary {
            background-color: var(--background) !important;
            border: solid 3px var(--category) !important;
        }
        background-color: var(--category) !important;
        & .mdc-evolution-chip__text-label {
            color: var(--text-1) !important;
        }
        & .mdc-evolution-chip__icon--trailing {
            color: var(--text-1) !important;
        }
    }
    &.company {
        &.binary {
            background-color: var(--background) !important;
            border: solid 3px var(--company) !important;
        }
        background-color: var(--company) !important;
        & .mdc-evolution-chip__text-label {
            color: var(--text-1) !important;
        }
        & .mdc-evolution-chip__icon--trailing {
            color: var(--text-1) !important;
        }
    }
    &.creditcard {
        &.binary {
            background-color: var(--background) !important;
            border: solid 3px var(--credit-card) !important;
            color: var(--text-1);
        }
        background-color: var(--credit-card) !important;
        & .mdc-evolution-chip__text-label {
            color: #ffffff !important;
        }
        & .mdc-evolution-chip__icon--trailing {
            color: #ffffff !important;
        }
    }
    &.year,
    &.month {
        &.binary {
            background-color: var(--background) !important;
            border: solid 3px var(--bill) !important;
            color: var(--text-1);
        }
        background-color: var(--bill) !important;
        & .mdc-evolution-chip__text-label {
            color: var(--title) !important;
        }
        & .mdc-evolution-chip__icon--trailing {
            color: var(--title) !important;
        }
    }
    &.bank {
        &.binary {
            background-color: var(--background) !important;
            border: solid 3px var(--bank) !important;
        }
        background-color: var(--bank) !important;
        & .mdc-evolution-chip__text-label {
            color: #ffffff !important;
        }
        & .mdc-evolution-chip__icon--trailing {
            color: #ffffff !important;
        }
    }
    &.type {
        &.binary {
            background-color: var(--background) !important;
            border: solid 3px var(--success) !important;
        }
        background-color: var(--success) !important;
        & .mdc-evolution-chip__text-label {
            color: #ffffff !important;
        }
        & .mdc-evolution-chip__icon--trailing {
            color: #ffffff !important;
        }
    }
    &.status {
        &.binary {
            background-color: var(--background) !important;
            border: solid 3px var(--default) !important;
        }
        background-color: var(--default) !important;
        & .mdc-evolution-chip__text-label {
            color: #ffffff !important;
        }
        & .mdc-evolution-chip__icon--trailing {
            color: #ffffff !important;
        }
    }
    &.min,
    &.max,
    &.date1,
    &.date2 {
        &.binary {
            background-color: var(--background) !important;
            border: solid 3px var(--default) !important;
        }
        background-color: var(--default) !important;
        & .mdc-evolution-chip__text-label {
            color: #ffffff !important;
        }
        & .mdc-evolution-chip__icon--trailing {
            color: #ffffff !important;
        }
    }
}
