.mat-mdc-text-field-wrapper {
    font-family: var(--font-1) !important;
    & .mat-mdc-form-field-icon-suffix {
        margin-right: 0.5rem;
        & .mat-mdc-icon-button {
            color: var(--text-1);
        }
    }
}
