.mat-mdc-text-field-wrapper {
    font-family: var(--font-1) !important;
    & .mat-mdc-form-field-icon-suffix {
        margin-right: 0.5rem;
        & .mat-mdc-icon-button {
            color: var(--text-1);
        }
    }
}

.mat-datepicker-content {
    .mat-calendar-body-cell.mat-calendar-body-active {
        span {
            color: var(--text-2);
        }
    }
    .mat-calendar-body-cell {
        span {
            color: var(--text-1);
        }
    }
}
