.error {
    &.mat-mdc-snack-bar-container {
        .mdc-snackbar__surface {
            background-color: var(--error);
            & .mat-mdc-snack-bar-label .mdc-snackbar__label {
                color: var(--text-2);
            }
        }
        .mdc-button__label {
            color: var(--text-2);
            font-family: var(--font-1) !important;
        }
    }
}

.warning {
    &.mat-mdc-snack-bar-container {
        .mdc-snackbar__surface {
            background-color: var(--warning);
            & .mat-mdc-snack-bar-label .mdc-snackbar__label {
                color: var(--text-2);
            }
        }
        .mdc-button__label {
            color: var(--text-2);
            font-family: var(--font-1) !important;
        }
    }
}

.success {
    &.mat-mdc-snack-bar-container {
        .mdc-snackbar__surface {
            background-color: var(--success);
            & .mat-mdc-snack-bar-label .mdc-snackbar__label {
                color: var(--text-2);
            }
        }
        .mdc-button__label {
            color: var(--text-2);
            font-family: var(--font-1) !important;
        }
    }
}

.info {
    &.mat-mdc-snack-bar-container {
        .mdc-snackbar__surface {
            background-color: var(--info);
            & .mat-mdc-snack-bar-label .mdc-snackbar__label {
                color: var(--text-2);
            }
        }
        .mdc-button__label {
            color: var(--text-2);
            font-family: var(--font-1) !important;
        }
    }
}
