.mat-button-toggle-group-appearance-standard {
    border: solid var(--border-width) transparent !important;
    border-radius: var(--border-radius) !important;
    height: calc(2 * var(--input-unit)) !important;
    width: max-content !important;

    & .mat-button-toggle-appearance-standard {
        background-color: transparent;
        &.mat-button-toggle-disabled {
            background-color: transparent !important;
            & .mat-button-toggle-label-content {
                color: var(--text-1) !important;
            }
        }
        & .mat-button-toggle-button {
            display: flex !important;
            flex-wrap: wrap;
            gap: 8px;
            & .mat-button-toggle-label-content {
                line-height: calc(1.8 * var(--input-unit)) !important;
                font-size: var(--input-font);
                color: var(--text-1);
                font-family: var(--font-1);
            }
        }
        &.mat-button-toggle-checked {
            background-color: var(--primary);
            height: calc(1.8 * var(--input-unit)) !important;
            border-radius: var(--border-radius);
            color: var(--text-3) !important;
            & :disabled {
                background-color: var(--disabled);
            }
            & .mat-button-toggle-label-content {
                color: var(--text-3) !important;
                & .mat-pseudo-checkbox,
                .mat-button-toggle-group-appearance-standard .mat-pseudo-checkbox {
                    --mat-standard-button-toggle-selected-state-text-color: var(
                        --text-3
                    ) !important;
                }
            }
        }
        &.mat-button-toggle-appearance-standard + .mat-button-toggle-appearance-standard {
            border: solid 4px transparent !important;
            border-radius: var(--border-radius);
            height: calc(1.8 * var(--input-unit)) !important;
            & .mat-button-toggle-button {
                & .mat-button-toggle-label-content {
                    line-height: calc(1.3 * var(--input-unit)) !important;
                }
            }
        }
    }
}
