.mat-button-toggle-group-appearance-standard {
    --input-unit: 20px;
    --input-font: 1rem;
    border: solid var(--border-width) var(--border-color) !important;
    border-radius: var(--border-radius) !important;
    height: calc(2 * var(--input-unit)) !important;
    width: min-content !important;

    & .mat-button-toggle-appearance-standard {
        background-color: transparent;
        & .mat-button-toggle-button {
            & .mat-button-toggle-label-content {
                line-height: calc(2 * var(--input-unit)) !important;
            }
        }
        &.mat-button-toggle-checked {
            background-color: var(--primary);
            height: calc(2 * var(--input-unit)) !important;
        }
        &.mat-button-toggle-appearance-standard + .mat-button-toggle-appearance-standard {
            border: none !important;
            height: calc(2 * var(--input-unit)) !important;
            & .mat-button-toggle-button {
                & .mat-button-toggle-label-content {
                    line-height: calc(2 * var(--input-unit)) !important;
                }
            }
        }
    }
}
