.mat-mdc-tooltip .mdc-tooltip__surface {
    background-color: var(--bh) !important;
    border: var(--border-width) solid var(--border-color) !important;
    border-radius: var(--border-radius) !important;
    color: var(--text-1) !important;
    font-family: var(--font-2);
}
