@use "src/assets/styles/theme.scss" as app-theme;
@use "@angular/material" as mat;

:root .dark {
    @include mat.all-component-themes(app-theme.$app-dark-theme);
    --primary: #8ea4d2ff;
    --secondary: #4d69b6;
    --item-list: rgb(135, 147, 192);
    --title: #e4e4e4;
    --description: #ffe0e0;
    --background: rgb(75, 75, 75);

    --error: #e21111;
    --warning: #e28e11;
    --info: #1153e2;
    --success: #11e26f;
    --default: #474141;

    --error: #e21111;
    --warning: #e28e11;
    --info: #1153e2;
    --success: #11e26f;
    --default: #474141;
}

:root {
    @include mat.all-component-themes(app-theme.$app-light-theme);
    --primary: #6665dd;
    --secondary: #5391cc;
    --item-list: lightsteelblue;
    --title: #222222;
    --description: #740000;
    --background: #eee;

    --error: #8f0000;
    --warning: #a86d00;
    --info: #00328f;
    --success: #008f18;
    --default: #474141;
}

:root .white-black {
    @include mat.all-component-themes(app-theme.$app-binary-theme);
    --primary: #ffffff;
    --secondary: #ffffff;
    --item-list: #ffffff;
    --title: #000000;
    --description: #000000;
    --background: #ffffff;

    --error: #8f0000;
    --warning: #a86d00;
    --info: #00328f;
    --success: #008f18;
    --default: #474141;
}

:root .black-white {
    @include mat.all-component-themes(app-theme.$app-binary-dark-theme);
    --primary: #000000;
    --secondary: #000000;
    --item-list: #000000;
    --title: #ffffff;
    --description: #ffffff;
    --background: #000000;

    --error: #8f0000;
    --warning: #a86d00;
    --info: #00328f;
    --success: #008f18;
    --default: #474141;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    min-height: 100vh;
    min-width: 100vw;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    padding: 80px 50px 40px;
    max-width: 1000px;
    margin: 0px auto;
}

.creation-main {
    min-height: 100vh;
    padding: 80px 50px 40px;
    max-width: 1000px;
    margin: 0px auto;
}

.wide {
    max-width: 1500px;
}

.modal-backdrop {
    position: absolute;
    z-index: 3;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    left: 0px;
    top: 0px;
}

.mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled)
    .mdc-floating-label {
    color: #8f0000 !important;
}

.mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled)
    .mdc-notched-outline__trailing {
    border-color: #8f0000 !important;
}

.mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled)
    .mdc-notched-outline__notch {
    border-color: #8f0000 !important;
    &.mdc-notched-outline__notch {
        border-left: 0px !important;
    }
}

.mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled)
    .mdc-notched-outline__leading {
    border-color: #8f0000 !important;
}

.button-primary {
    &.mat-mdc-button:not(:disabled) {
        border-radius: 5px;
        background-color: var(--secondary);
        color: #ffffff !important;
    }
    & p {
        color: #ffffff !important;
    }

    &:disabled {
        background-color: var(--item-list);
        border-radius: 0px;
    }

    & .spinner {
        width: 25px !important;
        height: fit-content;
    }
}

.button-secondary {
    &.mat-mdc-button:not(:disabled) {
        border-radius: 0px;
        background-color: transparent;
        color: #000000 !important;
    }
}

.mat-mdc-form-field-error {
    color: #8f0000 !important;
    caret-color: #8f0000 !important;
}

.error {
    &.mat-mdc-snack-bar-container {
        .mdc-snackbar__surface {
            background-color: var(--error);
        }
        .mdc-button__label {
            color: white;
        }
    }
}

.warning {
    &.mat-mdc-snack-bar-container {
        .mdc-snackbar__surface {
            background-color: var(--warning);
        }
        .mdc-button__label {
            color: white;
        }
    }
}

.success {
    &.mat-mdc-snack-bar-container {
        .mdc-snackbar__surface {
            background-color: var(--success);
        }
        .mdc-button__label {
            color: white;
        }
    }
}

.info {
    &.mat-mdc-snack-bar-container {
        .mdc-snackbar__surface {
            background-color: var(--info);
        }
        .mdc-button__label {
            color: white;
        }
    }
}

.tab-container {
    width: 100%;
    min-height: 500px;
}

.mat-mdc-standard-chip {
    border-radius: 10px !important;
    /* border: solid 1px #ffffff; */
    & .mdc-evolution-chip__text-label {
        font-size: 16px !important;
        & .typebill.creditcard {
            color: #ffffff !important;
        }
    }
    &.category {
        background-color: var(--warning) !important;
        & .mdc-evolution-chip__text-label {
            color: #ffffff !important;
        }
        & .mdc-evolution-chip__icon--trailing {
            color: #ffffff !important;
        }
    }
    &.creditcard {
        background-color: var(--description) !important;
        & .mdc-evolution-chip__text-label {
            color: #ffffff !important;
        }
        & .mdc-evolution-chip__icon--trailing {
            color: #ffffff !important;
        }
    }
    &.year,
    &.month {
        background-color: #c97c7c !important;
        & .mdc-evolution-chip__text-label {
            color: #000000 !important;
        }
        & .mdc-evolution-chip__icon--trailing {
            color: #000000 !important;
        }
    }
    &.bank {
        background-color: var(--info) !important;
        & .mdc-evolution-chip__text-label {
            color: #ffffff !important;
        }
        & .mdc-evolution-chip__icon--trailing {
            color: #ffffff !important;
        }
    }
    &.type {
        background-color: var(--success) !important;
        & .mdc-evolution-chip__text-label {
            color: #ffffff !important;
        }
        & .mdc-evolution-chip__icon--trailing {
            color: #ffffff !important;
        }
    }
    &.status {
        background-color: var(--secondary) !important;
        & .mdc-evolution-chip__text-label {
            color: #ffffff !important;
        }
        & .mdc-evolution-chip__icon--trailing {
            color: #ffffff !important;
        }
    }
    &.min,
    &.max {
        background-color: var(--default) !important;
        & .mdc-evolution-chip__text-label {
            color: #ffffff !important;
        }
        & .mdc-evolution-chip__icon--trailing {
            color: #ffffff !important;
        }
    }
}
