@use "src/assets/styles/layout/theme.scss" as app-theme;
@use "@angular/material" as mat;

:root .dark {
    @include mat.all-component-themes(app-theme.$app-dark-theme);
    --primary: #8ea4d2ff;
    --secondary: #4d69b6;
    --item-list: rgb(135, 147, 192);
    --item-list-border: rgb(135, 147, 192);
    --title: #e4e4e4;
    --description: #ffe0e0;
    --background: rgb(75, 75, 75);
    --border: #8ea4d2ff;
    --icon: var(--primary);
    --disabled: #7a7a7a;

    --error: #e21111;
    --warning: #e28e11;
    --info: #1153e2;
    --success: #11e26f;
    --default: #474141;
}

:root {
    @include mat.all-component-themes(app-theme.$app-light-theme);
    --primary: #405d72;
    --secondary: #758694;
    --third: #f7e7dc;
    --item-list: lightsteelblue;
    --item-list-border: lightsteelblue;
    --title: #222222;
    --description: #535353;
    --background: #fff8f3;
    --border: #6665dd;
    --icon: var(--primary);
    --disabled: #7a7a7a;

    --error: #865252;
    --warning: #a86d00;
    --info: #00328f;
    --success: #008f18;
    --default: #474141;
}

:root .binary {
    @include mat.all-component-themes(app-theme.$app-binary-dark-theme);
    --primary: #000000;
    --secondary: #ffffff;
    --item-list: #000000;
    --item-list-border: #ffffff;
    --title: #ffffff;
    --description: #ffffff;
    --background: #000000;
    --border: #ffffff;
    --icon: #ffffff;
    --disabled: #7a7a7a;

    --error: #d34848;
    --warning: #d89f36;
    --info: #275ab9;
    --success: #24b43c;
    --default: #5f5959;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    &::-webkit-scrollbar {
        width: 15px;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-track {
        background-color: var(--background);
        border: solid 1px var(--border);
        border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--secondary);
        height: auto;
        margin: 1px;
        border-radius: 3px;
    }
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--background);
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    width: calc(100vw + 20px);
    padding: 80px 50px 40px;
    max-width: 1000px;
    margin: 0px auto 0px -20px;
    background-color: var(--background);
}

.page-content {
    min-height: 100vh;
    padding: 80px 50px 40px;
    width: 100%;
    margin: 0px auto;
    background-color: var(--background);
}

.modal-backdrop {
    position: absolute;
    z-index: 3;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    left: 0px;
    top: 0px;
}

.mat-mdc-form-field-error {
    color: var(--error) !important;
    caret-color: var(--error) !important;
}

.tab-container {
    width: 100%;
    min-height: 500px;
}
