.company {
    width: 100%;
}

.company-li {
    list-style: none;
}

.company-grid {
    grid-template-columns: repeat(4, auto);
    @media screen and (max-width: 1366px) {
        grid-template-columns: repeat(3, auto);
    }
    @media screen and (max-width: 900px) {
        grid-template-columns: repeat(2, auto);
    }
    @media screen and (max-width: 600px) {
        grid-template-columns: repeat(1, auto);
    }
}

.company-container {
    display: grid;
    grid-template-areas:
        "company-color company-title company-buttons"
        "company-description company-description company-description";
    grid-template-columns: 1fr 12fr 3fr;
    grid-template-rows: repeat(2, auto);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    min-height: 120px;
    @media screen and (max-width: 1366px) {
        grid-template-areas:
            "company-color company-title company-title"
            "category-description category-description category-description"
            "category-icon category-icon category-buttons";
        grid-template-columns: 1fr 12fr 3fr;
        row-gap: 0.5rem;
        grid-template-rows: repeat(3, auto);
    }
}

.company-title {
    grid-area: company-title;
    font-weight: bold;
    width: 100%;
    margin: auto 10px auto 0px;
}

.company-description {
    grid-area: company-description;
    font-weight: normal;
    font-size: 14px;
    color: var(--text-1);
    margin: auto 0px;
    width: 100%;
}

.company-color {
    width: 10px;
    height: 100%;
    margin: auto;
}

.company-buttons {
    grid-area: company-buttons;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-text {
    font-size: 14px;
}
