<modal-component
    [header]="data.theme ? 'update theme' : 'new theme'"
    [bodyTemplate]="newProfile"
    (actionPrimary)="handleNextStep()"
    (actionSecondary)="handlePreviousStep()"
    [disabled]="onDisableButton()"
></modal-component>

<ng-template #newProfile>
    <form [formGroup]="profileForm" class="form">
        <ng-container *ngIf="step === 1">
            <step-one
                [title]="profileForm.controls['title']"
                [description]="profileForm.controls['description']"
                [themeControl]="profileForm.controls['theme']"
                [primaryControl]="profileForm.controls['primary']"
                [secondaryControl]="profileForm.controls['secondary']"
                (onClick)="handleStepOneClick($event)"
            />
        </ng-container>
        <ng-container *ngIf="step === 2">
            <step-two
                [text1]="profileForm.controls['text1']"
                [text2]="profileForm.controls['text2']"
                [background]="profileForm.controls['background']"
                [themeControl]="profileForm.controls['theme']"
                (onClick)="handleStepTwoClick($event)"
            />
        </ng-container>
        <ng-container *ngIf="step === 3">
            <step-three
                [borderRadius]="profileForm.controls['borderRadius']"
                [borderWidth]="profileForm.controls['borderWidth']"
                [font1]="profileForm.controls['font1']"
                [font2]="profileForm.controls['font2']"
                [padding]="profileForm.controls['padding']"
                [inputSize]="profileForm.controls['inputSize']"
                (onClick)="handleStepTwoClick($event)"
            />
        </ng-container>
    </form>
</ng-template>
