<div class="bill-container-bank">
    <div class="bank-container">
        <mat-icon
            class="material-symbols-outlined card-icon"
            aria-hidden="false"
            aria-label="icon"
            fontIcon="payments"
        ></mat-icon>
        <p class="bank-name">{{data.bank1?.name}}</p>
    </div>
    <p class="title">{{ data.name }}</p>
    <p class="description">{{ data.description }}</p>
    <div [ngClass]="['date-container', dateLeft]">
        <mat-icon
            class="material-symbols-outlined card-icon"
            aria-hidden="false"
            aria-label="icon"
            fontIcon="event"
        ></mat-icon>
        <p>{{(data.settled ? data.paid : data.due) | date: "mediumDate"}}</p>
    </div>
    <div class="value-container">
        <div class="parcel"><p>$</p></div>
        <p class="value">{{data.total | currency: "R$ "}}</p>
    </div>
</div>
