<div class="bill-tags">
    <tag matTooltip="bank" [id]="'tag-type-'+data.id" theme="var(--bank)" transform>
        <mat-icon
            class="material-symbols-outlined"
            aria-hidden="false"
            aria-label="icon"
            fontIcon="payments"
            class="type-container"
        ></mat-icon>
        <p class="type-name">{{data.bank1?.name}}</p>
    </tag>
    <tag
        matTooltip="category"
        [id]="'tag-category-'+data.id"
        [theme]="data.category.color"
        class="category-container"
        transform
    >
        <mat-icon
            aria-hidden="false"
            aria-label="icon"
            [fontIcon]="data.category.icon"
        ></mat-icon>
        <p class="category-name">{{data.category.name}}</p>
    </tag>
    <tag
        matTooltip="recurrent bill"
        [id]="'tag-recurrent-'+data.id"
        theme="var(--info)"
        transform
        [ngClass]="['recurrent-container',  data.isRecurrent ? 'recurrent' : '']"
    >
        <mat-icon
            class="material-symbols-outlined"
            aria-hidden="false"
            aria-label="icon"
            fontIcon="cycle"
        ></mat-icon>
    </tag>
</div>
