.bill-container-service {
    display: grid;
    padding: 16px;
    grid-template-areas:
        "service-container service-container service-category"
        "title title title"
        "description description description"
        "value-container value-container date-container";
    grid-template-rows: 1.5fr 1fr 1fr 1fr;
}

.title {
    grid-area: title;
    color: var(--text-1);
    font-family: Open-Sans-Bold;
}

.description {
    grid-area: description;
    color: var(--text-2);
}

.service-container {
    grid-area: service-container;
    display: flex;
    width: max-content;
    align-items: center;
    padding: 8px;
    height: 30px;
    border: var(--border-width) solid var(--company);
    border-radius: var(--border-radius);
    background-color: var(--company);
    & .service-icon {
        color: var(--text-1);
        width: 1.8rem;
        height: 1.8rem;
        font-size: 1.8rem;
    }
    & .service-name {
        color: var(--text-1);
    }
}

.service-category {
    grid-area: service-category;
    display: flex;
    width: max-content;
    align-items: center;
    padding: 8px;
    height: 30px;
    border: var(--border-width) solid var(--company);
    border-radius: var(--border-radius);
    background-color: var(--company);
    margin: 0px 0px auto auto;
    & .service-icon {
        color: var(--text-1);
        width: 1.8rem;
        height: 1.8rem;
        font-size: 1.8rem;
    }
    & .service-name {
        color: var(--text-1);
    }
}

.date-container {
    grid-area: date-container;
    display: flex;
    width: max-content;
    align-items: center;
    padding: 8px;
    height: 30px;
    border-radius: var(--border-radius);
    margin: auto 0px 0px auto;
    &.late {
        border: var(--border-width) solid var(--error);
        background-color: var(--error);
    }
    &.settled {
        border: var(--border-width) solid var(--success);
        background-color: var(--success);
    }
    &.close {
        border: var(--border-width) solid var(--warning);
        background-color: var(--warning);
    }
}

.value-container {
    grid-area: value-container;
    display: flex;
    width: max-content;
    align-items: center;
    height: 30px;
    margin: auto auto 0px 0px;
    & .parcel {
        border: 2px solid var(--text-1);
        border-radius: var(--border-radius);
        width: 25px;
        height: 25px;
        display: flex;
        & p {
            margin: auto;
        }
    }
    & .value {
        margin-left: 10px;
    }
}
