<div class="bill-tags">
    <tag
        [matTooltip]="data.isPayment ? 'outcome' : 'income'"
        [id]="'tag-flow-'+data.id"
        [theme]="data.isPayment ? 'var(--error)' : 'var(--success)'"
        transform
        class="flow-container"
    >
        <mat-icon
            class="material-symbols-outlined"
            aria-hidden="false"
            aria-label="icon"
            [fontIcon]="data.isPayment ? 'arrow_circle_up' : 'arrow_circle_down'"
        ></mat-icon>
    </tag>
    <tag
        matTooltip="company"
        [id]="'tag-company-'+data.id"
        theme="var(--company)"
        transform
    >
        <mat-icon
            class="material-symbols-outlined"
            aria-hidden="false"
            aria-label="icon"
            fontIcon="store"
            class="type-container"
        ></mat-icon>
        <p class="type-name">{{data.company?.name}}</p>
    </tag>
    <tag
        matTooltip="category"
        [id]="'tag-category-'+data.id"
        [theme]="data.category.color"
        transform
    >
        <mat-icon
            class="material-symbols-outlined"
            aria-hidden="false"
            aria-label="icon"
            [fontIcon]="data.category.icon"
            class="category-container"
        ></mat-icon>
        <p class="category-name">{{data.category.name}}</p>
    </tag>
</div>
